[2019-09-25 05:57] vielmetti commented on #141
Reopen just long enough to note that FOSDEM 2020 is Feb 1-2 in Brussels, and the CFP is open:
[code]

https://fosdem.org/2020/news/2019-08-13-call-for-participation/

[2019-09-25 14:51] vielmetti commented on #172
Reopening and removing `wontfix`, with the intent to resolve this week (week/39)

[2019-09-26 19:14] vielmetti opened #177 "Events: Arm Techcon 2019"
Notes and references for Arm Techcon 2019. Add requirements or suggestions here, and reference this issue in commits.

[2019-09-26 19:22] vielmetti opened #178 "Events: Kubecon San Diego"
Stub for now, but add any references necessary to support Kubecon.

[2019-10-02 19:31] antonym opened #179 "netboot.xyz arm64 support"
### Name, email, company, job title
Antony Messerli, antony@mes.ser.li, Rackspace, Principal Engineer

### Project Title and description
netboot.xyz, Leverages the iPXE project to network boot Operating System installers and utilities from an easy to use menu.

### Which members of the community would benefit from your work?
Anyone wanting to quickly boot their OS selection on ARM from the BIOS

#

[2019-10-03 00:58] vielmetti commented on #179
@cayu53 please take a look; this would be especially valuable for proving out operating system combos that Packet is not directly supporting.

[2019-10-03 12:58] cayu53 commented on #179
@vielmetti Agree. Would be good to validate on Arm and as a result have Arm support built-in / available from netboot.xyz and blog about this once tested/available.

[2019-10-03 13:05] vielmetti commented on #179
OK, we're all approved. I am on deadline for @cayu53 for today and tomorrow, and once those deadline obligations are in, I'll set this up.

[2019-10-06 22:51] vielmetti commented on #177
I will be on the show floor daily from 1130a-1230p and 200p-300p in Richard Henwood's booth. I'll update when I know the details.

[2019-10-06 22:54] vielmetti commented on #176
The ASG! channel is here: https://www.youtube.com/channel/UCeLpDT5afyiwdbbg1EOxOtQ/videos

I am not finding this year's lightning talks, though.

[2019-10-06 22:55] #176 closed

[2019-10-06 22:56] vielmetti commented on #179
I've asked @edolnx to help me with this - we are traveling to Techcon so I'll tack this onto the Techcon milestone.

[2019-10-06 22:57] vielmetti commented on #178
Closing until after techcon

[2019-10-06 22:59] vielmetti commented on #174
Recovering from jet lag took longer than expected, but this is all approved and just awaiting time on task to get it set up. I've added it to the TechCon milestone, and if anyone will be there for that event please flag me down per the schedule in #177.

[2019-10-06 23:00] vielmetti commented on #155
This moved to `wontfix` three days ago, but I will review it at TechCon to get it finished up.

[2019-10-06 23:01] vielmetti opened #180 "Event: FOSDEM 2020, Brussels, Feb 1-2"
Noted from #141 - this is coming up this winter.

[2019-10-06 23:03] vielmetti commented on #180
Close for now, reopen after TechCon.

[2019-10-06 23:03] #180 closed

[2019-10-06 23:04] vielmetti commented on #2
This is still relevant, and will be addressed in the edits for the new worksonarm.com website, already in progress.

[2019-10-06 23:04] #2 closed

[2019-10-06 23:05] #141 closed

[2019-10-08 04:37] vielmetti opened #181 "Announce new Works on Arm web site, branding &c at TechCon 2019"
It looks like new stickers too, let's see about letting people know.

[2019-10-08 04:37] vielmetti commented on #181
https://worksonarm.com is new.

[2019-10-08 04:44] vielmetti opened #182 "Update README.md file here to match text from new web site"
Fix the README here so that it's aligned with the exact text of the new website.

[2019-10-08 21:48] vielmetti opened #183 "Events: Linaro Connect Budapest BUD20"
Add BUD20 to various event calendars.

[2019-10-10 13:32] vielmetti commented on #6
Call being planned with @gdams - this can be tracked at the above 562 issue. Closing here.

[2019-10-10 13:32] #6 closed

[2019-10-16 17:35] vielmetti opened #184 "Proposal: OSEC"
### Name, email, company, job title

Note that projects with two or more participants are preferred.

* Ed Vielmetti, Packet @vielmetti
* Richard Henwood, Arm

### Project Title and description

OSEC

### Which members of the community would benefit from your work?

All, especially those who are using libraries provided by
supported languages

### Is the code that you’re going to run 100% open sou

[2019-10-17 21:51] clandmeter commented on #50
Alpine Linux has recently switched from GitHub to our self hosted
GitLab based completely on Alpine Linux. The two main reasons for this
switch are

1. Limit vendor lock in by using Open Source solutions.
2. Support CI for all Alpine Linux Architectures.

In our previous GitHub workflow we were happily using Drone CI with
support for 5 architectures x86, x86_64, aarch64, armv7, armhf. While
this b

[2019-10-18 13:55] vielmetti commented on #50
Thanks @clandmeter !

[2019-10-18 13:55] #50 closed

[2019-10-18 15:59] cayu53 commented on #184
@vielmetti - the scope/description is very vague, it would be good to know a bit more who will effectively drive the porting/testing activity over time and ensure there is an effective use of resource. Should coordinate with Richard to better understand.

[2019-10-21 12:52] vielmetti commented on #177
Event complete! Next is #178 , Kubecon San Diego.

[2019-10-21 12:52] #177 closed

[2019-10-23 21:24] #54 closed

[2019-10-24 07:20] markfirmware opened #185 "zig programming language"
### Name, email, company, job title

Mark E Kendrat
https://github.com/markfirmware
No Company
Computer Engineer

### Project Title and description
Zig is a general-purpose programming language designed for robustness, optimality, and maintainability.

https://github.com/ziglang/zig
cc @andrewrk

### Which members of the community would benefit from your work?
zig programmers
raspberry pi programm

[2019-10-24 13:12] daurnimator commented on #185
FYI I already have worksonarm access for zig.

[2019-10-24 15:22] vielmetti commented on #185
At https://github.com/ziglang/zig/issues/2443 I also note the availability of Drone Cloud and Travis CI, both with native (not QEMU) based arm64 support.

[2019-10-24 16:48] andrewrk commented on #185
I'm tinkering with Drone Cloud. I have been unable to find a list of supported architectures in the docs, has anyone found this list?

[2019-10-24 18:17] markfirmware commented on #185
I haven’t seen the list but I’m using arm64.
https://github.com/ziglang/zig/issues/2934#issuecomment-546037460

[2019-10-24 20:10] vielmetti commented on #184
New c2.large.arm system has been allocated, with the understanding that the two projects involved will share a single server using containers for isolation.

[2019-10-24 20:10] #184 closed

[2019-10-24 20:20] vielmetti commented on #185
The related issue is #166 (existing access)

[2019-10-24 23:24] andrewrk commented on #185
I found this: https://docker-runner.docs.drone.io/configuration/platform/

I'm doing pretty good with the aarch64 target. I rented a scaleway server for a few hours and built https://github.com/ziglang/docker-zig for aarch64. For 32 bit arm, I'm a bit stuck, how can I make a docker image for 32 bit arm? Is there an arm32 server I can rent for a couple hours?

[2019-10-25 08:30] andrewrk commented on #185
@markfirmware email me your RSA public key and preferred username and I will give you ssh access to the box

[2019-10-25 12:13] markfirmware commented on #185
@andrewrk will do when I’m back Saturday morning

[2019-10-25 21:27] andrewrk commented on #185
We have ARM 64 downloads available on https://ziglang.org/download/ now :-)

[2019-10-28 20:29] ollieparanoid opened #186 "armv8 hardware for postmarketOS"
### Name, email, company, job title

Most interested in the Works On Arm cluster are:

* [Oliver Smith](https://gitlab.com/ollieparanoid), ollieparanoid-at-postmarketos.org, project lead
* [Luca Weiss](https://gitlab.com/z3ntu), luca-at-z3ntu.xyz, developer, admin for sourcehut instance we plan to deploy
* [Martijn Braam](https://gitlab.com/MartijnBraam), martijn-at-brixit.nl, developer and infras

[2019-11-01 09:49] cayu53 commented on #186
Thanks @ollieparanoid  for your request. With resource we currently have we are prioritizing projects focusing on infrastructure / cloud native and will not be able to support your request at this time. We may revisit in the future as things develop.

Best regards,

[2019-11-01 19:11] ollieparanoid commented on #186
I see, thanks @cayu53.

[2019-11-04 14:41] #186 closed

[2019-11-06 17:11] vielmetti commented on #56
Reopening with a request to migrate to different hardware.

[2019-11-06 17:17] vielmetti commented on #20
This project has ended.

[2019-11-07 19:55] vielmetti commented on #181
New site is up!

[2019-11-07 19:56] #181 closed

[2019-11-07 20:35] vielmetti commented on #172
This has been set up, and is added to the "Sponsored - Arm - LLVM" project to reflect the ongoing organization and supervision of the work.

[2019-11-07 20:35] #172 closed

[2019-11-08 09:05] leandron commented on #172
Thanks Ed @vielmetti

[2019-11-10 13:24] raw-bin opened #187 "Request for an AArch64 bare-metal instance for the Rust Language project"
Kind attention: @acrichton, @cayu53, @vielmetti

### Name, email, company, job title

* Robin Randhawa, robin.randhawa@arm.com, Arm, Technical Director for System Software Architecture

* Alex Crichton, acrichton@mozilla.com, Mozilla, Staff Research Engineer

### Project Title and description

The Rust Language.

### Which members of the community would benefit from your work?

Any consumer of the

[2019-11-11 12:29] vielmetti commented on #187
Thanks! This looks good.

Do you have support from Azure for the "runner" approach? I ask only because this could be of use and interest to other projects, and also because I know from other runner designs that this support can take some time to get to stable use.

[2019-11-11 21:45] raw-bin commented on #187
Hi Ed.

I’ll update with specifics ASAP.

Thanks.

[2019-11-12 23:59] #155 closed

[2019-11-12 23:59] #174 closed

[2019-11-13 15:05] Wetrain opened #188 "Request for ARM CI for an open source machine learning project"
### Name, email, company, job title

Adam.Jones (adam@libreml.org), Codethink, Software engineer
Christopher Phang(chris@libreml.org), Codethink, Software engineer

### Project Title and description
LibreML:

We provide ready-made docker containers that give a reproducible, open source SDK for machine learning, with all components built from source using Buildstream

### Which members of the commu

[2019-11-14 07:20] #182 closed

[2019-11-14 23:35] #183 closed

[2019-11-21 14:57] pietroalbini commented on #187
Azure Pipelines [has self-hosted runners for armv7](https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/v2-linux?view=azure-devops#check-prerequisites), and I *guess* they'll run fine on aarch64, but tbh I don't have much experience on ARM to say that for certain.

We're also [evaluating GitHub Actions](https://blog.rust-lang.org/inside-rust/2019/11/14/evaluating-github-actions.html) fo

[2019-11-24 00:09] kryan681 commented on #187
We actually do have github runners support on arm. Happy to help if you are looking to get rust up and running using GitHub actions for arm 64

[2019-11-24 22:36] andrewrk commented on #185
I really hate the idea of stalebot, even though this is exactly the use case for it.

This isn't even my issue, and this is the perfect use case for stalebot, and I'm still upset about it.

[2019-11-25 20:54] vielmetti commented on #178
Event over!

[2019-11-25 20:54] #178 closed

[2019-11-25 21:05] vielmetti commented on #185
Apologies @andrewrk for stalebot; that's mostly my fault, for not figuring out a quiet but effective way to stay on top of all of this.

I am happy for the Zig announcements! I think this particular issue can be closed out.

[2019-11-25 21:05] #185 closed

[2019-12-01 09:44] Wetrain commented on #188
Hey!

Any update on our request? :smiley:

[2019-12-13 18:24] #56 closed

[2019-12-16 22:57] vielmetti commented on #187
Account has been set up, machine has been reserved.

[2019-12-17 07:08] lubinsz opened #189 "google/gVisor CI"
Kind attention: @kalyxin02 @xiaobo55x
Name, email, company, job title
Bin Lu,  bin.lu@arm.com, Arm, Staff software engineer

Project Title and description
gVisor(https://github.com/google/gvisor) is a user-space kernel, written in Go, that implements a substantial portion of the Linux system surface.

Which members of the community would benefit from your work?
Currently there are a bunch of contr

[2019-12-18 02:58] kryan681 commented on #187
👍

Sent from my iPhone

On Dec 16, 2019, at 4:57 PM, Edward Vielmetti <notifications@github.com> wrote:

﻿

Account has been set up, machine has been reserved.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/WorksOnArm/cluster/issues/187?email_source=notifications&email_token=AN3OPPDYMQQH43Y27BNTL6LQZABUDA5CNFSM4JLMKYL2YY3PNVWWK3T

[2020-01-07 14:03] hug-dev opened #190 "Request for the Parsec project"
Hi 😃!
Please allow me to make the following request, on behalf of the Parsec team.
FYI: @kushalkoolwal @paulhowardarm @ionut-arm

### Name, email, company, job title

Some of the members of the Parsec project:
* Hugues de Valon
   hugues.devalon@arm.com
   Arm
   Software Engineer

* Ionut Mihalcea
   ionut.mihalcea@arm.com
   Arm
   Software Engineer

* Paul Howard
   paul.howard@arm.com
   Arm

[2020-01-07 17:15] cayu53 commented on #189
I assume that this is in response (and support of) https://github.com/google/gvisor/issues/1231

Happy to see one platform used to support this work. It would help if you could update this issue once things are in place and CI is running for Arm64 (and let the community know). If/when over time the upstream project has access to other Arm-based platforms for doing CI it would be good to update thi

[2020-01-08 02:10] kalyxin02 commented on #189
Hi Philippe,

Our team member Bin is currently working on that. Will update the ticket once we have progress.

Thanks
Kaly

From: Philippe Robin <notifications@github.com>
Sent: Wednesday, January 8, 2020 1:16 AM
To: WorksOnArm/cluster <cluster@noreply.github.com>
Cc: Kaly Xin <Kaly.Xin@arm.com>; Mention <mention@noreply.github.com>
Subject: Re: [WorksOnArm/cluster] google/gVisor container CI (#18

[2020-01-13 14:35] stratakis opened #191 "Request for an aarch64 instance for the Python Programming Language"
kind attention to @vstinner, @pablogsal @encukou @ncoghlan

Inspired by #187

### Name, email, company, job title

- Charalampos Stratakis, cstratak@redhat.com, Red Hat, Software Engineer for the Python Maintenance team

### Project Title and description

- The Python Programming Language

### Which members of the community would benefit from your work?

Any consumer of the Python Programming Lang

[2020-01-13 16:40] vstinner commented on #191
Having an ARM64 (aarch64) buildbot worker would be very useful. Python has a very large test suite. It's common to get tests failing only on one specific platform, compiler or architecture, or even worse: only one specific worker, unique (platform, compiler, architecture, Linux distribution) combo.

For example, right now I'm working on adding math.fma() function: it would be nice to be able to te

[2020-01-13 20:54] vielmetti commented on #109
closed, as the resources were never used.

[2020-01-14 11:13] cayu53 commented on #190
Happy for this go ahead, I will let Ed/Packet-team assess what platform is best suited for this...

Regards,

[2020-01-15 05:03] vielmetti commented on #190
All set -

- invites sent out to project members including @hug-dev - please check your email
- one c2.large.arm server has been reserved to the project

Please see https://www.packet.com/developers/docs/getting-started/deployment-options/reserved-hardware/ - once each of the invites has been accepted, you'll be able to deploy this server with each of your SSH keys installed on it for use.

thanks

[2020-01-15 05:03] #190 closed

[2020-01-15 13:41] hug-dev commented on #190
That's awesome, thanks a lot 😄!

[2020-01-29 08:37] lubinszARM commented on #189
cc @avagin @prattmic

[2020-01-30 11:27] Silex opened #192 "Emacs docker images"
## Name, email, company, job title

Philippe Vaucher, philippe.vaucher@gmail.com (as this is a personal project I don't list my company).

### Project Title and description

Emacs images for docker (https://github.com/Silex/docker-emacs).

This project provides different docker images:

- The main images (~500MB) only contain the runtime dependencies for Emacs to run.
- The `-dev` variants (~1400M

[2020-01-30 12:46] DamienCassou commented on #192
This would really be awesome. Our Emacs-related FLOSS projects are currently built on ARM but each build takes close to 10 minutes. With the work @Silex is doing, this should go down to around 2 minutes. Thank you @Silex!

[2020-02-04 19:14] vielmetti commented on #191
@stratakis -

I've reserved a server to the project (c2.large.arm in our EWR - New Jersey, USA data center) and invited you to the project. Let me know how things go!

[2020-02-04 19:14] #191 closed

[2020-02-04 20:17] stratakis commented on #191
Thank you!

[2020-02-05 17:34] vielmetti commented on #179
@antonym  - there is a problem that @stratakis ran into at https://github.com/netbootxyz/netboot.xyz/issues/572 wherein the arch string for CentOS 8 needs to be `aarch64` rather than `arm64`.

[2020-02-06 04:31] vielmetti commented on #192
Hey @Silex - just starting to look at this now.

Can you help me figure out whether it's possible to use Drone Cloud (https://cloud.drone.io) to do these builds? It has native Arm support (32-bit and 64-bit) and so builds should be speedy and won't require going through QEMU. I don't know, though, if your ASLR requirement can be met. The Drone machines are at Packet and we're happy to help sort th

[2020-02-06 04:43] vielmetti commented on #192
For what it's worth there's an open kernel issue here too:

https://bugzilla.kernel.org/show_bug.cgi?id=205957

from the reading of it there are several plausible approaches to addressing the underlying issue, and not a clear consensus yet on the right way to handle crossing the 32/64 bit barrier for those filesystem calls.

[2020-02-06 05:07] isuruf opened #193 "Request for conda-forge"
### Name, email, company, job title

Isuru Fernando, isuruf@gmail.com, conda-forge, Core developer
Matthew R. Becker, becker.mr@gmail.com, conda-forge, Core developer

### Project Title and description

conda-forge

[conda-forge](https://www.conda-forge.org) is a community-led collection of recipes, build infrastructure and distributions for the conda package manager.

### Which members of the com

[2020-02-06 07:36] Silex commented on #192
@vielmetti: Thanks. I think drone.io suffers from the same limitation as travis (which also has arm64 workers). Also it does not look very flexible (e.g https://discourse.drone.io/t/run-docker-container-in-docker/5704) which can quickly be a problem.

In the meantime to work around the QEMU bug I found an idea at https://bugs.launchpad.net/qemu/+bug/1805913, which is to use an ext4 partition that

[2020-02-06 08:37] vielmetti commented on #192
Aha, the workaround is interesting. It appears that there's a flag you can hit using `tune2fs` described here

https://gist.github.com/jorandradefig/147d03f1fc96047e3745541732fd5019

e.g. `sudo tune2fs -O ^dir_index /dev/xvda1` to disable that feature for that filesystem.

(what's the old saying? You can tune a file system, but you cannot tune a fish.)

[2020-02-06 17:34] vielmetti commented on #193
Thanks @isuruf - we'll be reviewing this on a call on Friday 2020-02-07.

If you happen to have links to the particular packages that are failing due to time limits, that would be useful input.

[2020-02-06 19:55] isuruf commented on #193
For eg: [PyPy](https://cloud.drone.io/conda-forge/pypy3.6-feedstock/2), [LLVM](https://github.com/conda-forge/llvmdev-feedstock/issues/70), [Clang](https://github.com/conda-forge/clangdev-feedstock), [GCC](https://github.com/conda-forge/ctng-compilers-feedstock). All of these have x86_64 (due to Azure's 6 hour limit), ppc64le (OSU OSL gave access to a server) packages but not aarch64.

[2020-02-06 22:39] vielmetti commented on #193
@isuruf - got it - did not realize how deep all of the dependencies went.

Are your build scripts using more than one core? The Arm servers we have on each of these all are manycore systems (32 to 96 cores) and there are considerable speedups available in nearly every case with parallelism.

[2020-02-07 01:38] isuruf commented on #193
@vielmetti, yes. For example https://github.com/conda-forge/clangdev-feedstock/blob/master/recipe/build.sh#L30 where `CPU_COUNT` is set to 96 on Drone. Some recipes change this default as they see fit.

[2020-02-07 05:31] vielmetti commented on #189
Hi @lubinsz - do you know which CI system you will be planning to use for this?

[2020-02-07 08:11] lubinsz commented on #189
Hi @vielmetti
It should be google kokoro ci system: https://github.com/googleapis/google-cloud-cpp/tree/master/ci/kokoro
 @avagin can you update more information?
Thanks.

[2020-02-07 18:16] vielmetti commented on #193
This has been approved - I'll follow up as soon as possible with access details!

[2020-02-07 18:16] vielmetti commented on #189
This has been approved - I'll follow up as soon as possible with access details.

[2020-02-08 08:02] Silex commented on #192
Ok, so here are the results:

- Cannot use cloud.drone.io because you cannot disable ASLR: https://discourse.drone.io/t/ability-to-modify-sysctl-kernel-randomize-va-space/6769
- The trick for ext4 without `dir_index` does not seem to work when I test it.

There's still one thing I can try: the QEMU patches that someone wrote that apparently fix the issue, but IIRC the setup was a bit complex.

[2020-02-10 13:14] zumbi opened #194 "CI infrastructure for Debian"
### Name, email, company, job title

Héctor Orón Martínez
zumbi _at_ debian.org
Debian OS contributor

### Project Title and description

CI infrastructure for Debian

Debian is GNU/Linux software operative system. Debian has it's own CI/CD processes to ensure good quality for their products. It would be really beneficial for both parties Debian and ARM to extend Debian QA and CI/CD pipeline with

[2020-02-10 17:16] vielmetti commented on #194
Thanks @zumbi - I should be able to have this reviewed this week.

[2020-02-10 19:38] vielmetti commented on #193
Accounts set up, 1x c2.large.arm reserved, and further details sent via email. Closing here for now.

[2020-02-10 19:38] #193 closed

[2020-02-10 19:53] vielmetti commented on #189
@lubinsz - I have allocated one c2.large.arm (Ampere eMag) to a new project, and invited you to it. You can deploy the reserved hardware per these directions:

https://www.packet.com/developers/docs/getting-started/deployment-options/reserved-hardware/

It is quite possible that you'd also want to deploy on the c1.large.arm (Cavium ThunderX) and if you do decide to test or validate there just let

[2020-02-11 08:38] lubinszARM commented on #189
@vielmetti
Thank you very much.

[2020-02-18 13:46] neurolabusc opened #195 "Improved zlib/pigz on ARM"
### Daniel Lemire  and Chris Rorden (email in avatar)

### Improved zlib/pigz on ARM

This is not a novel solution, but could have a lot of impact. While there are more modern compression formats like zstd, the gz files created by zlib (among other libraries) remains popular. In my own field, it is the basis for compression of the NIfTI format. More widely, used in PNG image format. The compressio

[2020-02-18 16:25] vielmetti commented on #195
Thanks for the detailed proposal!

[2020-02-18 17:10] vielmetti commented on #189
Looks like positive progress, based on

https://github.com/google/gvisor/issues/1231

[2020-02-19 16:26] vielmetti commented on #192
@Silex do you have a link or a pointer to those QEMU patches? I think I know enough people in that world to review or hopefully test them.

[2020-02-19 20:14] Silex commented on #192
@vielmetti: I'm a bit swamped at work atm so yeah it's a good idea if you can test them :wink:

https://sourceware.org/bugzilla/show_bug.cgi?id=23960
https://bugzilla.kernel.org/show_bug.cgi?id=205957

[2020-02-22 01:59] neurolabusc commented on #195
Here are results for dual socket Cavium ThunderX [CN8890](https://en.wikichip.org/wiki/cavium/thunderx/cn8890) (2 * 48 cores) and single socket Ampere [eMAG 8180](https://en.wikichip.org/wiki/ampere_computing/emag/8180) (32 cores). The CloudFlare and zlib-ng already include SIMD ARM support. Earlier work with CloudFlare on ARM is described [here](https://blog.cloudflare.com/arm-takes-wing/). I upd

[2020-02-22 02:37] Adenilson commented on #195
@neurolabusc that is pretty interesting (and thanks for sharing the charts).

To clarify, you are profiling the time spend doing compression?

I must assume that decompression is not important within your use case?

[2020-02-22 03:28] neurolabusc commented on #195
@Adenilson the design of the gz format does not lend itself to parallel decompression. Therefore, for multiple testing multiple cores, I really focused on compression times.  At typical compression levels (e.g. 6), Gzip is much slower to compress than decompress. A modern format like zstd is MUCH faster at [decompression](https://facebook.github.io/zstd/) than Gzip. Obviously, for situations like

[2020-02-25 13:35] neurolabusc commented on #195
@Adenilson I have added a decompression benchmark [5decompress.sh](https://github.com/neurolabusc/pigz-bench). For using on ARM, one needs to comment out the lines in 1compile.sh that create the Intel zlib (which does not support ARM). This benchmark attempts to address [criticisms](https://github.com/zlib-ng/zlib-ng/issues/326) by @sebpop regarding testing decompression. Specifically, each method

[2020-02-25 13:55] gdevenyi commented on #195
Interesting results! From my perspective my advocacy for zlib-ng has been their open active github community and attention to cleaning up both the code and build system, and testing on a huge number of hardware platforms. I expect eventually they will integrate all performance enhancers from the various forks to reach parity, but will have a modern codebase and build system as well.

[2020-02-25 15:27] vielmetti commented on #94
ThunderX2 assigned to the project, expected duration of use 4-6 weeks; I'll check in 1 April 2020.

[2020-03-12 06:02] lubinsz commented on #189
Hi @vielmetti
It seems that I can't find my reserved Arm server.
Can you help me to check it?
Thanks.
![image](https://user-images.githubusercontent.com/1996245/76492014-17649480-646a-11ea-9247-ef78837fc608.png)

[2020-03-12 14:17] vielmetti commented on #189
Reopening to reflect an access question (server wasn't showing up on available list).

[2020-03-12 17:55] vielmetti commented on #189
@lubinsz The access question has been addressed, you should be able to provision the server now.

[2020-03-13 02:32] lubinsz commented on #189
Hi @vielmetti
The issue is gone.
I can access the server now.
Thanks.

[2020-03-13 12:49] vielmetti commented on #121
Reopening again, as I have a spreadsheet now from which I should be able to generate much of this info, perhaps not all of it.

[2020-03-13 13:03] vielmetti commented on #195
@neurolabusc -

I see that you have two systems that are reserved but turned off. In the interests of maximizing use, I'd like to either reclaim them (and return them to other people as needed) or reserve them for you (to make sure you have them in the future).

Either way is fine - or just one system would be fine - but the "powered down" state is the least useful, and I want to make sure you hav

[2020-03-13 13:18] vielmetti commented on #179
Closing for now, to be resolved upstream.

[2020-03-13 13:20] neurolabusc commented on #195
@vielmetti thanks for setting this up. I would suggest you reclaim them. I had detected a problem with [zlib-ng](https://github.com/zlib-ng/zlib-ng/issues/536) and a pull request to fix that was submitted 3 weeks ago. I had originally hoped to validate that all tests pass, but I am not sure how quickly pull requests are incorporated for that library.

Regardless, I now have a [simple script](https

[2020-03-13 13:21] #195 closed

[2020-03-13 13:26] vielmetti commented on #195
@neurolabusc Thank you! Instances have been reclaimed, and we'll look forward to any published results and ultimately to a merged PR.

[2020-03-13 13:35] vielmetti commented on #106
@OrangeMonk Can you comment on the status of this project, update us with the current situation? This effort came up in a review and I'd like to ensure that these systems are still in active use.

[2020-03-13 15:28] vielmetti commented on #188
Reopening this to re-evaluate.

[2020-03-19 07:32] Silex commented on #192
https://github.com/moby/qemu/issues/9

[2020-03-19 19:17] vielmetti commented on #192
Good luck with the proposed workaround (the 32-bit static qemu referenced above)

[2020-03-21 04:35] vielmetti opened #196 "Update the CI.md file for new and updated info in Q1 2020"
This file [CI.md](https://github.com/WorksOnArm/cluster/blob/master/CI.md) should be brought up to date with the latest CI/CD inventory.

This is in support of this question on the Arm developer forum: [Where can I find more information regarding CI/CD support for AArch64?](https://community.arm.com/developer/f/infrastructure-solutions/45962/where-can-i-find-more-information-regarding-ci-cd-suppor

[2020-03-21 12:59] Silex commented on #192
:cry:

I did `apt install qemu-user-static:i386`. Looks like I need to dig deeper and actually debug QEMU, but this looks so time-consuming...

[code]

[2020-03-21 13:01] Silex commented on #192
What is interesting tho is that the `qemu-aarch64-static` also get stuck. Maybe we are dealing with a different bug than the `getdents` one.

[2020-03-23 19:29] vielmetti commented on #47
Per a conversation with @ashleeyoung this project has completed, and the reservation has been reclaimed.

[2020-03-23 19:56] vielmetti commented on #106
Per conversations with project stakeholders, this project has come to a close.

[2020-03-23 19:56] #106 closed

[2020-03-24 13:32] vielmetti commented on #187
Noting the Rust talk at Linaro Tech Days on 2020-03-24 (happening as I type).

[2020-03-24 13:56] deitch opened #197 "request for arm64 server for linuxkit"
If you are interested in filing a request for access to the Works on Arm test and
CI infrastructure, please fill out the details below, or contact Ed Vielmetti at ed@packet.net with questions.

If you are just making a comment, ignore/delete those fields and file your issue.

### Name, email, company, job title

* Avi Deitcher, Aptimia
* Justin Cormack, Docker
* Rolf Neugebauer, AWS
* Dave Tucker,

[2020-03-24 18:29] vielmetti commented on #169
Reopen to assess status, identify allies, offer support.

[2020-04-05 23:22] purpleidea commented on #117
@vielmetti If this is never happening, please let me know.

lol bots: https://twitter.com/purpleidea/status/1246940946526285825

[2020-04-06 01:35] vielmetti commented on #117
@purpleidea You should be able to use the arm64 support in Travis CI now - that was turned on last fall.

[2020-04-06 02:14] purpleidea commented on #117
@vielmetti Did not know that, thanks, I'll have a look! :) As an aside, if you ever have a large number of small machines or VM's (eg: > 128-512 machines, @ 8GiB ram each) for some temporary (eg: a weekend) large scale tests, I'd always appreciate the loan.

[2020-04-06 17:59] vielmetti opened #198 "Rosetta at home / folding at home"
If you are interested in filing a request for access to the Works on Arm test and
CI infrastructure, please fill out the details below, or contact Ed Vielmetti at ed@packet.net with questions.

If you are just making a comment, ignore/delete those fields and file your issue.

### Name, email, company, job title

Ed Vielmetti, Packet (an Equinix Company) @vielmetti
Sahaj Sarup, Linaro @ric96
David

[2020-04-06 19:19] #192 closed

[2020-04-06 19:21] vielmetti commented on #192
Closing. This *should* be the sort of task that is easy to do with a hosted CI service; happy to continue to help with identifying blocking issues that make the build difficult.

[2020-04-06 19:23] vielmetti commented on #169
There is existing work being done by Arm engineering on this effort, specifically work at https://github.com/envoyproxy/envoy-build-tools/pull/24 by @Jingzhao123 to enable multi-architecture Ubuntu Docker images. Closing here.

[2020-04-06 19:23] #169 closed

[2020-04-06 19:23] vielmetti commented on #187
This looks to be well underway, so closing.

[2020-04-06 19:23] #187 closed

[2020-04-07 11:55] Silex commented on #192
@vielmetti: sorry but I don't understand your comment, you saw the roadblocks I have to deal with.

There are QEMU bugs preventing me from doing this with a hosted CI service. Debugging this is no trivial task and takes tons of time.

What *would* be easy to do is having a ARM box where these issues don't exist.

[2020-04-07 20:58] vielmetti commented on #197
The server is set up and active, closing this.

[2020-04-07 20:58] #197 closed

[2020-04-08 04:26] deitch commented on #197
Thanks Ed

[2020-04-08 08:17] NicolasPetton commented on #192
Philippe Vaucher <notifications@github.com> writes:

I can provide an ARM board if that helps.

Nico

[2020-04-08 18:16] Silex commented on #192
@NicolasPetton: thanks. Let's keep you as plan B, I'm discussing with @vielmetti for an alternative solution. I'll ping you if needed.

[2020-04-12 14:21] #121 closed

[2020-04-12 17:50] vielmetti commented on #194
@zumbi - if there are specific requests for resources, they can go here or via email - I will follow up privately regarding a few details, and will close this in the meantime.

[2020-04-12 17:50] #194 closed

[2020-04-13 19:29] #196 closed

[2020-04-13 21:32] vielmetti commented on #188
Email sent to the team, @Wetrain - please review!

[2020-04-15 16:46] vielmetti commented on #198
Request fulfilled, closing.

[2020-04-15 16:46] #198 closed

[2020-04-20 19:58] NGPixel opened #199 "Request for arm64 build server for Wiki.js"
If you are interested in filing a request for access to the Works on Arm test and
CI infrastructure, please fill out the details below, or contact Ed Vielmetti at ed@packet.net with questions.

### Name, email, company, job title

Nicolas Giard, @ngpixel

### Project Title and description

[Wiki.js](https://wiki.js.org) is an open-source, powerful and modern wiki server application, written in Nod

[2020-04-23 08:18] Wetrain commented on #188
Thanks @vielmetti, sorry for the delay, the email slipped through the net. We will review ASAP

[2020-04-28 17:14] vielmetti commented on #188
This has been approved and is underway.

[2020-04-28 17:14] #188 closed

[2020-05-04 17:42] vielmetti commented on #20
Noted that there is still work being done on this:

https://github.com/cockroachdb/cockroach/pull/48187

[2020-05-05 04:33] deian opened #200 "Hardening the Firefox JIT with online checking and translation validation on ARM"
### Name, email, company, job title

This project is a research collaboration between Stanford, UC San Diego, and UT Austin with guidance from folks at Mozilla.
- Faculty: [Dawson Engler](https://stanford.edu/~engler/),  [Sorin Lerner](https://cseweb.ucsd.edu/~lerner/), [Hovav Shacham](https://www.cs.utexas.edu/~hovav/) and [Deian Stefan](https://cseweb.ucsd.edu/~dstefan/).
- PhD students: [Fraser

[2020-05-06 19:24] vielmetti commented on #199
Hi @NGPixel - we're sorry that we're going to have to pass on direct support for this one. My suggestion is to take a look at Drone Cloud or Travis CI which both have automated CI loops available for doing native arm64 build and test - one or the other of those should let you accomplish the goal you are setting out to do.

[2020-05-06 19:24] #199 closed

[2020-05-06 19:25] vielmetti commented on #199
Hi @NGPixel - we're sorry that we're going to have to pass on direct support for this one. My suggestion is to take a look at Drone Cloud or Travis CI which both have automated CI loops available for doing native arm64 build and test - one or the other of those should let you accomplish the goal you are setting out to do.

[2020-05-08 14:40] vielmetti commented on #200
Resolved via email.

[2020-05-08 14:40] #200 closed

[2020-05-09 03:15] lubinsz opened #201 "Request for kubernetes e2e/unit_test/integration_test CI and future CI on ARM"
Name, email, company, job title
Bin Lu bin.lu@arm.com, ARM, Staff software engineer

Project Title and description
Kubernetes is an open source system for managing containerized applications across multiple hosts; providing basic mechanisms for deployment, maintenance, and scaling of applications.

Which members of the community would benefit from your work?
Currently there are a bunch of contribu

[2020-05-09 03:16] lubinsz commented on #201
We have already setup the conformance test on 2 AWS arm64 instances.
Please see the following link as reference:
https://k8s-testgrid.appspot.com/conformance-arm#Periodic%20Arm64%20conformance%20test%20on%20AWS

[2020-05-09 03:17] lubinsz commented on #201
cc @cayu53 @kalyxin02

[2020-05-11 20:29] vielmetti commented on #201
@lubinsz -

Some questions as we set this up:

Any preference for machine types? This should run equally well on c2.large.arm or c1.large.arm.
Do you have a second person who should be on the project list?

Let me know and I'll reserve a pair of machines.

[2020-05-12 01:34] lubinszARM commented on #201
cc @zhlhahaha

@vielmetti
We have no preference. Maybe the cheaper the better :)
So far, we need to test several CI jobs with 2 environments：
1,  Cloud provider conformance test with 2 hosts
2, For other scenarios, such as e2e/integration, we need to create a few(>4) virtual machines to test

And the second person is @zhlhahaha

[2020-05-13 19:21] vielmetti commented on #201
@lubinsz - two systems have been reserved (a pair of c2.large.arm in NRT1) and the two of you have been invited to the project. Contact me direct at ed@packet.com or our support line at help@packet.com if there are any issues!

[2020-05-13 19:21] #201 closed

[2020-05-24 21:30] cphang99 commented on #192
@Silex the [libreML](https://gitlab.com/libreml/libreml) project has arm64 workers (provided by WorksOnARM) that builds [emacs](https://gitlab.com/libreml/libreml/-/blob/master/elements/dev-tools/emacs.bst) as part of its creation of the sdk. We also produce docker images at the end of our CI runs.

You might be able to use our [images](https://gitlab.com/libreml/libreml/container_registry/eyJuYW1

[2020-05-25 06:22] Silex commented on #192
@cphang99: we found a solution with @vielmetti and now all my images are multiarch (https://hub.docker.com/r/silex/emacs)

I build from emacs 23.4 and up, including emacs 27.0.91 and master.

[2020-05-27 06:48] maxim-kuvyrkov opened #202 "Add 2-4 more ARM64 machines to LLVM buildbot CI"
### Name, email, company, job title

Name: Maxim Kuvyrkov
Email: maxim.kuvyrkov@linaro.org
Company: Linaro
Job title: Toolchain Tech Lead

### Project Title and description

LLVM Toolchain CI Buildbots for ARM64

### Which members of the community would benefit from your work?

LLVM community relies on buildbot infrastructure (http://lab.llvm.org:8011/) for continuous integration and testing of ll

[2020-06-02 02:39] zhlhahaha opened #203 "kubevirt/kubevirt CI"
Kind attention: @kalyxin02 @lubinsz @cayu53
Name, email, company, job title
Howard Zhang, howard.zhang@arm.com, Arm, software engineer

**Project Title and description**
KubeVirt (https://github.com/kubevirt/kubevirt) is a virtual machine management add-on for Kubernetes. The aim is to provide a common ground for virtualization solutions on top of Kubernetes. Also Kubevirt is a CNCF project.

**Wh

[2020-06-02 13:32] cayu53 commented on #203
Happy to support. Will let Ed and others comment.
Thanks!

[2020-06-03 10:12] raw-bin opened #204 "Request for an AArch64 bare-metal instance for the wasmtime project"
Kind attention: @vielmetti @alexcrichton

### Name, email, company, job title

* Robin Randhawa, robin.randhawa@arm.com, Arm, Technical Director for System Software Architecture

* Alex Crichton, acrichton@mozilla.com, Mozilla, Staff Research Engineer

### Project Title and description

The [wasmtime](https://wasmtime.dev/) run-time for [WebAssembly (WASM)](https://webassembly.org/) and [WASI (mod

[2020-06-03 14:02] alexcrichton commented on #204
Thanks for filing this @raw-bin and I'm also happy to help out if any other info is needed!

[2020-06-03 16:53] bjorn3 commented on #204
Shouldn't the url be https://github.com/bytecodealliance/wasmtime/?

[2020-06-05 12:43] MrXinWang opened #205 "Request for an AArch64 bare-metal instance for the Cloud Hypervisor project"
Kind attention: @kalyxin02 @michael2012z @rbradford

### Name, email, company, job title
Michael Zhao, Michael.Zhao@arm.com, Arm, Staff software engineer
Henry Wang, Henry.Wang@arm.com, Arm, Graduate software engineer

### Project Title and description
Cloud-Hypervisor

Cloud-Hypervisor is an open source Virtual Machine Monitor (VMM) that runs on top of KVM. The project focuses on exclusively runn

[2020-06-05 19:54] vielmetti commented on #203
An invitation has been sent to Howard and a c2.large.arm server has been reserved.

[2020-06-05 19:57] raw-bin commented on #204
Hi @bjorn3. Although the ask here is for the wasmtime project, it is likely that other related strands from under the WASM umbrella will also benefit so from that stand-point it doesn't really matter. However, to offset any confusion, I'll add this URL to the description just in case.

[2020-06-05 20:00] vielmetti commented on #204
Collaborators listed above have been invited to a new project, and a server has been reserved to it. Let me know when you have things set up!

[2020-06-05 20:00] #204 closed

[2020-06-05 20:34] alexcrichton commented on #204
Thanks @vielmetti! I've allocated a server and we're all setup now and it all looks good :)

[2020-06-07 13:20] zhlhahaha commented on #203
Thanks a lot! @cayu53 @vielmetti

[2020-06-09 03:57] jhass opened #206 "Crystal"
### Jonne Haß, me@jhass.eu, Crystal project, Core member

Supporting applicants:

Stephanie Wilde-Hobbs, steph@rx14.co.uk, Crystal project, Core member
Brian J. Cardiff, bcardiff@manas.tech, Crystal project/Manas Tech, Core member/Principal Engineer, Product Manager & Researcher

### The Crystal programming language<sup>[0], [1]</sup>

A language for humans and computers.

Crystal has Ruby inspire

[2020-06-09 11:51] RX14 commented on #206
To clarify the technical details: we need about 8GB of ram per pipeline worker. One would be great, but being able to run 2 or more parallel jobs on one machine would be great. Singlethread performance is quite important.

[2020-06-11 17:25] vielmetti commented on #202
@maxim-kuvyrkov

Do you have any geographic location requirements or preferences? I'm looking at inventory now.

[2020-06-11 17:37] maxim-kuvyrkov commented on #202
Hi @vielmetti ,
Any location will do just fine.  Thanks.

[2020-06-11 18:02] vielmetti commented on #202
@maxim-kuvyrkov

As a start I have allocated two c2.large.arm systems additionally to the account, in our Tokyo (NRT1) data center. Please add this capacity to your system and then let me know where you stand so that I can any more servers as required.

[2020-06-11 19:09] vielmetti commented on #205
This has been approved, I'll update when the system has been allocated.

[2020-06-12 00:45] MrXinWang commented on #205
@vielmetti Thanks so much!

[2020-06-12 19:41] vielmetti commented on #205
Invitations have been sent and a machine has been reserved to the account, you should be all set.

[2020-06-12 19:41] #205 closed

[2020-06-15 14:26] vielmetti commented on #205
https://www.phoronix.com/scan.php?page=news_item&px=Cloud-Hypervisor-0.8-Released - news about Cloud Hypervisor 0.8 release with aarch64 support.

[2020-06-16 19:35] vielmetti commented on #206
We should be good to go with this one - got the 👍 from the relevant folks today.

I'm marking this as "approved", and will follow through in the next couple of days with access info.

[2020-06-16 19:52] jhass commented on #206
Great news, thank you! :)

[2020-06-17 09:21] MrXinWang commented on #205
Hi @vielmetti ! Thanks so much for providing the machine! We can access it perfectly now. I am wondering if you can add the cloud-hypervisor community maintainer @rbradford to the cloud-hypervisor organization in packet.net. His email can be found in https://github.com/rbradford. Thanks!

[2020-06-17 18:17] vielmetti commented on #205
Thanks @MrXinWang - I've added @rbradford to the project.

[2020-06-18 23:03] jhass commented on #206
First CI builds on the provided hardware passed 🎉 https://github.com/crystal-lang/crystal/pull/9508

[2020-06-18 23:24] jacobsmith928 commented on #206
Wonderful!

On Thu, Jun 18, 2020 at 7:03 PM Jonne Haß <notifications@github.com> wrote:

--
Jacob Smith
VP, Bare Metal Strategy & Marketing
Packet, an Equinix Company
267-226-8258
<http://www.packet.com>

[2020-06-26 18:40] #206 closed

[2020-06-26 18:41] #202 closed

[2020-06-30 08:29] jcoffland opened #208 "Access for Folding@home"
### Name, email, company, job title

Joseph Coffland, joseph@cauldrondevelopment.com, Cauldron Development LLC, Lead developer at Folding@home.

### Project Title and description

Folding@home uses the compute resources of volunteers around the world to study human diseases like COVID-19 and cancer.

### Which members of the community would benefit from your work?

A Folding@home client for ARM wo

[2020-07-01 19:17] vielmetti commented on #208
Thanks @jcoffland ! There was a team that assembled to help with the port of Rosetta to arm64 - my strong suspicion is that there will be overlap of interest and resources from that team, and I've alerted them to this as well. Stay tuned!

[2020-07-02 18:48] kushalkoolwal opened #209 "Request for Arm Servers for Hello World Project"
If you are interested in filing a request for access to the Works on Arm test and
CI infrastructure, please fill out the details below, or contact Ed Vielmetti at ed@packet.net with questions.

If you are just making a comment, ignore/delete those fields and file your issue.

### Name, email, company, job title

Note that projects with two or more participants are preferred.

### Project Title and

[2020-07-02 19:15] vielmetti commented on #209
This has been fulfilled.

[2020-07-02 19:15] #209 closed

[2020-07-03 15:11] webknjaz opened #210 "GitHub Actions workers?"
Hi, I saw that some aarch64 resources can be requested @ https://www.worksonarm.com/projects/
followed by references to various services. May I ask if it supports running GitHub Actions
self-hosted runners? If I were to request WorksOnArm resources, would it be possible to
integrate such runners?

[2020-07-05 01:19] angerman opened #211 "ARM CI support for haskell.nix"
### Name, email, company, job title

Moritz Angermann <moritz.angermann@gmail.com>, Tools Team Lead

### Project Title and description

[haskell.nix](https://github.com/input-output-hk/haskell.nix) is a very flexible solution to build haskell project with nix. This project was conceived to allow different teams using different package setups (either cabal or stack) to build their projects seamless

[2020-07-05 23:33] edolnx commented on #208
Could you provide some more information about what kinds of GPU devices you are looking for? Packet might be able to put some nvidia T4 GPUs in a couple of hosts, but in the community we have a lot of machines with AMD GPUs because of the current driver situation.

[2020-07-06 20:58] jcoffland commented on #208
Any modern GPUs should be fine.  Both NVidia and AMD would be useful since they use different drivers.  We just need to test that they work with our software on ARM.

[2020-07-09 03:06] hanyu-D opened #212 "CI/CD for Android Cloud Blueprint"
If you are interested in filing a request for access to the Works on Arm test and
CI infrastructure, please fill out the details below, or contact Ed Vielmetti at ed@packet.net with questions.

If you are just making a comment, ignore/delete those fields and file your issue.

### hanyu Ding, dinghanyu@chinamobile.com, Chinamobile，
Note that projects with two or more participants are preferred.
ARM

[2020-07-10 17:14] galak opened #213 "ARM64 version of cmake"
Would like to see the project work with Kitware to have them be able to build arm64 binaries and publish them on a regular basis.  While cmake is available from distro(s) sometimes a newer version is needed and on x86 one can easily grab a release binary package from Kitware.

https://discourse.cmake.org/t/regarding-cmake-aarch64-binary-in-releases-and-cmake-cross-build-host-x86-64-target-aarch64/

[2020-07-10 17:14] galak commented on #213
https://gitlab.kitware.com/cmake/cmake/-/issues/20122

[2020-07-10 18:53] vielmetti commented on #213
Hi @galak thanks for the heads up - if you have a good contact from the Kitware team I'd be happy to have a conversation on this topic.

[2020-07-10 19:16] vielmetti commented on #210
There are some notes about using self-hosted runners from GitHub Actions with public repos.

See

https://github.community/t/self-hosted-runner-security-with-public-repositories/17860/10

https://docs.github.com/en/actions/hosting-your-own-runners/about-self-hosted-runners#self-hosted-runner-security-with-public-repositories

While there are ways to set up self-hosted runners to make them less ris

[2020-07-10 19:17] #210 closed

[2020-07-12 17:28] webknjaz commented on #210
Yeah, that's totally understandable.

[2020-07-13 18:44] galak commented on #213
I don't, I think looking at https://gitlab.kitware.com/cmake/cmake/-/tree/master/Utilities/Release and adding arm64 linux support would be a huge start.

[2020-07-14 10:33] ebeasant-arm opened #214 "Request for an AArch64 bare-metal instance for the Oak project"
Kind attention: @vielmetti

Name, email, company, job title

Edwin Beasant, edwin.beasant@arm.com, Arm, Staff Software Engineer

Tiziano Santoro, tzn@google.com, Google, Software Engineer

Project Title and description

The goal of Project Oak is to create a specification and a reference implementation for the secure transfer, storage and processing of data.

Which members of the community would b

[2020-07-15 16:34] vielmetti commented on #213
Thanks @galak . I'm closing this issue now and have related the relevant info to some contacts who may be able to make progress on getting current arm64 binaries built for cmake. If there's a reason to reopen it I will do so!

[2020-07-15 16:34] #213 closed

[2020-07-15 16:49] vielmetti commented on #208
I've referred this request to Rex at Arm to get more eyes on it. The current Works on Arm inventory does not include any GPU configurations.

[2020-07-15 16:56] vielmetti commented on #213
https://gitlab.kitware.com/cmake/cmake/-/issues//17923 looks like the issue to bring up directly with cmake, @galak .

[2020-07-16 02:23] vielmetti commented on #213
Also relevant @galak is https://gitlab.kitware.com/cmake/cmake/-/issues/20122 where there is a "snap" based access to images on multiple architectures including aarch64.

[2020-07-16 22:25] galak opened #215 "arm64 builds of docker-compose"
Any assistance in getting arm64 binaries as part of docker-compose project would be great:

https://github.com/docker/compose

https://github.com/docker/compose/issues/7472

[2020-07-17 20:56] jcoffland commented on #208
We also need access to ARM CPUs to compile Folding@home software for ARM.  We would like to setup CI/CD for our client software and two simulation cores, GROMACS and OpenMM.  In addition, we would like access to additional ARM instances to run our ARM client's and cores for testing purposes.  How can get access to these resources?

[2020-07-20 18:27] vielmetti commented on #214
This has been approved and will be set up shortly.

[2020-07-21 01:17] rhenwood-arm commented on #211
Hi @angerman,

I've been in touch with the Haskell upstream community. It looks like there are still usability problems that are prohibiting a formal release for AArch64: https://github.com/haskell/docker-haskell/pull/21 . I would like to see the Haskell community to be satisfied with the quality of the AArch64 release before downstream consumers (like Haskell.Nix?) become involved.

How does your

[2020-07-21 14:01] vielmetti commented on #214
This has been set up, and an introductory message has gone out.

[2020-07-21 14:01] #214 closed

[2020-07-22 04:32] angerman commented on #211
@rhenwood-arm right, there is an aarch64 machine that is used in CI to help build GHCs. As far as I am involved, I am writing a native code generator for aarch64 for GHC (see https://gitlab.haskell.org/ghc/ghc/-/merge_requests/3641) in my spare time.

I know that our current cross compilers we can build for GHC can produce arm and aarch64 binaries. This is at this point almost trivial with haskell

[2020-07-24 17:14] vielmetti commented on #208
Thanks all, this is approved. I'll follow up with @jcoffland on details of access.

[2020-07-24 18:20] jcoffland commented on #208
Thanks Ed.

[2020-07-24 18:35] vielmetti commented on #208
Machine reserved, invite and introductory email sent. I've set up a single c2.large.arm (Ampere eMag) machine for now.

[2020-07-24 18:35] #208 closed

[2020-07-27 19:00] rhenwood-arm commented on #211
@angerman : thanks for this detail - it helps resolve the concerns I had from my outside view.

[2020-07-28 12:51] vielmetti commented on #215
per https://github.com/docker/compose/issues/7472#issuecomment-664848792 the current recommended approach for docker-compose is to use `pip` to install - please follow additional discussion there about getting arm64 binaries.

[2020-07-28 12:51] #215 closed

[2020-07-28 13:10] vielmetti commented on #211
Project has been approved, invitations sent and infrastructure has been set up.

[2020-07-28 13:10] #211 closed

[2020-07-30 19:01] vielmetti commented on #212
Closed after review.

[2020-07-30 19:01] #212 closed

[2020-08-11 07:26] CarolineConcatto opened #216 "Extra RAM Needed"
We would like to increase one of our node capacity both by RAM and CPU if possible.

We have an historical monitoring data that server is being overloaded and RAM is not sufficient.

Initially, we would like to increase our “Jenkins Master, dff43c77.packethost.net” server RAM
                ; RAM from 32 to 128

However, we would continue to monitor system load on server again after increased RAM

[2020-08-12 15:42] vielmetti commented on #216
The full ID of this server is dff43c77-8020-4d6b-861f-07adf158ff76 for reference, on the "Sponsored - Arm - LLVM" project. The best replacement for this looks like a standard c2.large.arm system in EWR1.

This system is a Jenkins master - is it set up to have a public page to display results or for monitoring?

[2020-08-13 17:27] darren17082 opened #217 "Works on ARM VM for GitLab Runner Engineering"
The GitLab[ Runner ](https://docs.gitlab.com/runner/)engineering team would like to test the Runner and CI pipelines on an ARM powered server or virtual machine.  The goal of this testing is to understand any technical challenges in supporting ARM powered VM's for [GitLab Runner Cloud](https://about.gitlab.com/direction/verify/runner/#runner-cloud).

Darren Eastman
Senior Product Manager - GitLab

[2020-08-13 23:20] kushalkoolwal commented on #217
Hi Darren - Looks like we lost our template when making some changes, looking into it and may ask you to resubmit the issue once we get the template restored. Sorry about that.

[2020-08-17 17:50] CarolineConcatto commented on #216
I know that Jenkins display public results of the compiler builds.
I also use the monitoring internally.
This machine is also used as a slave in lab.llvm.

[2020-08-18 18:02] kushalkoolwal commented on #217
Hi Darren - I have requested the machine meanwhile we wait for the template to get fixed. You should be getting an email in next couple of days on how to access the server, etc.

[2020-08-19 10:09] tellenbach opened #219 "GitLab CI runners for Eigen"
### Name, email, company, job title
Name: David Tellenbach
Email: david.tellenbach2@arm.com
Company: Arm Ltd.
Job title: Contractor, Maintainer of the Eigen project

### Project Title and description
Eigen is a C++ library for linear algebra and related algorithms that is widly used in a number of well-known projects, including Tensorflow.

### Which members of the community would benefit from you

[2020-08-20 21:22] kushalkoolwal commented on #217
If you are interested in filing a request for access to the Works on Arm test and
CI infrastructure, please fill out the details below, or contact
info@worksonarm.com for questions.

If you are just making a comment, ignore/delete those fields and file your issue.

Proposals will be evaluated on a biweekly cycle by Arm and Packet.

### Name, email, company, job title

Note that projects with two o

[2020-09-03 06:29] #219 closed

[2020-09-24 06:22] wolfv opened #220 "Build time to make ROS ARMv8 conda packages"
### Name, email, company, job title
Name: Wolf Vollprecht
Email: w.vollprecht@gmail.com
Company: QuantStack
Job title: Open Source Developer, conda-forge member

### Project Title and description

RoboStack is a initiative to package ROS software (Robot Operating System) into conda packages.

### Which members of the community would benefit from your work?

All members that want to have robotics p

[2020-09-25 00:12] kushalkoolwal commented on #216
Looks like the migration effort has been completed. Closing this ticket. We have an internal ticket open at Packet to shutdown the system.

[2020-09-25 00:12] #216 closed

[2020-09-25 20:00] kushalkoolwal commented on #220
Hi Wolf - Were you presented with a template to fill out when you created a new issue? Similar to this: https://github.com/WorksOnArm/cluster/issues/219

Will review the request, once you fill out the template.

[2020-09-26 07:20] wolfv commented on #220
Hi @kushalkoolwal I just updated the text. Sorry for missing the template!

[2020-09-30 10:24] wolfv commented on #220
We have some initial pipeline running on aarch64 here: https://dev.azure.com/roboforge/ros_pipelines/_build/results?buildId=341&view=results

This is currently using AWS Graviton which I pay for myself. Would be awesome if we could get sponsored resources for this.

[2020-10-02 16:59] kushalkoolwal commented on #220
Hi Wolf - Thanks for the info. Are you aware that we already have one system sponsored for the OSR foundation? Wondering if there is a way to use that system for the CI purpose?

[2020-10-02 17:19] wolfv commented on #220
Nope I wasn't aware. I will have to talk to them then. They have a very different setup in terms of ci infrastructure though (as far as I remember)

[2020-10-06 18:49] kushalkoolwal commented on #220
We are connecting the dots here with OSR. Stay tuned. Correction: we have two systems reserved for OSR.

[2020-10-07 11:43] wolfv commented on #220
@kushalkoolwal thanks! Feel free to reach out to me by email or otherwise if necessary.
I am really excited about this.

[2020-10-12 03:26] justin-he opened #221 "Cloud hypervisor CI more bare-mental Arm instances are required"
Kind attention:  @michael2012z @rbradford @MrXinWang
Even after https://github.com/WorksOnArm/cluster/issues/205, more baremental Arm instances are required since community
complained about only 1 instance is too slow for processing the Arm CI testing.
Could I apply for another 1 instance at least? Thanks for the help :)

Name, email, company, job title
Michael Zhao, Michael.Zhao@arm.com, Arm, Sta

[2020-10-12 03:28] justin-he commented on #221
cc @jongwu

[2020-10-12 03:28] MrXinWang commented on #221
Thanks @justin-he.

/cc @sboeuf

[2020-10-13 14:56] vielmetti commented on #221
@justin-he

After discussion with @kushalkoolwal we will be providing a new server (Ampere Altra "Mt Snow") which should be more capable for your needs. I will update this issue when I have a definite timeline on installation.

[2020-10-13 15:43] vielmetti commented on #221
The suggested new machine has more cores (80 vs 32) and faster cores (how much faster TBD, but for some tasks possibly 2x).

If your CI infrastructure has a serial bottleneck, this will help measurably, but you'll probably get even more benefit from identifying parallelism in that system and taking advantage of it.

[2020-10-13 15:45] sboeuf commented on #221
That sounds like a nice upgrade indeed :)
Let's cross our fingers this will reduce the time spent on each PR!

[2020-10-13 15:51] vielmetti commented on #221
@sboeuf  - is there a dashboard or other report somewhere that shows progress of PR testing and/or times to complete? I'd be happy to see what kind of comparisons we can make over time.

[2020-10-13 16:46] sboeuf commented on #221
@vielmetti here is the Jenkins instance keeping the runs: https://cloud-hypervisor-jenkins.westus.cloudapp.azure.com/
You can look into `master-periodic` to find out the average time spent.

[2020-10-22 10:53] advancedwebdeveloper opened #222 "Building gollvm's releases, on Aarch64"
Hi.
There is a demand in building [gollvm](https://go.googlesource.com/gollvm/) with "release", "debug" configurations.
VM oriented builds, container images.

Suggesting both compilation on Aarch64 for Aarch64 and cross-compiling Aarch64->X86_64 (to diversify the usage).

There where some plans to adopt Clang, the linker (lld? gold is used, currently) for heterogenous (CPU + GPU) computing. Concur

[2020-10-26 18:31] vielmetti commented on #222
Hi @advancedwebdeveloper  - if you are asking for access to the system for gollvm, please fill out and post the form at

https://github.com/WorksOnArm/cluster/blob/master/.github/ISSUE_TEMPLATE/custom.md

which will give us enough information to make a decision. (Or resubmit a new issue, picking that option).

[2020-10-27 03:57] lanefu opened #223 "Proposal - Build Armbian Linux Kernels and Images natively on Arm"
ARMDEVSUMMIT2020
### Contact Info

Igor Pecovnik -- igor dot pecovnik at gmail dot com -- Armbian Project Founder and Lead
Lane Jennison -- lane at lane-fu dot com -- Armbian Project Admin, Maintainer, and Evangelist

### Project Title and description

[Armbian](https://www.armbian.com) is a base operating system platform for single board computers (SBCs) that other projects can trust to build upo

[2020-10-28 01:24] Tobias-Fischer commented on #220
Are there any updates on this? Would love to build some more ROS packages for ARM :)

[2020-10-28 05:10] kushalkoolwal commented on #220
Hello - I asked ROS folks to get in touch with Wolf to see if this request can be accomodated on the existing servers we have for ROS. I will check with our contacts tomorrow and get back to you.

[2020-10-28 09:14] wolfv commented on #220
thanks @kushalkoolwal

[2020-10-30 20:18] kushalkoolwal commented on #223
Congrats on winning the ARMDEVSUMMIT2020 draw!

[2020-10-30 22:01] lanefu commented on #223
wow! that's super exciting!

@igorpecovnik exciting opportunities ahead!

[2020-11-01 17:33] EvilOlaf commented on #223
This is awesome. Thank you so much for this opportunity!

[2020-11-02 09:51] wolfv commented on #220
@kushalkoolwal did you hear back by any chance? On my side, I still haven't received any communication by OSRF. However, we could also share time with conda-forge if you allow so.

[2020-11-02 19:40] kushalkoolwal commented on #220
Hi Wolf - You may contact Tully Foote from OSRF. Will get back to you on conda-forge.

[2020-11-02 21:52] lanefu commented on #223
So what's timing on next steps?

[2020-11-04 05:07] pgmwoa commented on #223
Please allow us few days to provision your hardware. You will be notified via email once the hardware is available.

[2020-11-05 14:54] vielmetti commented on #223
Account setup has been done, you should see a set of welcome messages shortly @lanefu @EvilOlaf

[2020-11-05 16:15] rvs opened #225 "Provide CI/CD resources for Linux Foundation's Project EVE"
*Name, email, company, job title*

Roman Shaposhnik, rvs at apache dot org, Linux Foundation, N/A

*Project Title and description*

Linux Foundation Project EVE https://www.lfedge.org/projects/eve/

Project EVE aims to do for the IoT edge what Android did for mobile by creating an open edge computing engine that enables the development, orchestration and security of cloud-native and legacy applica

[2020-11-05 17:01] lanefu commented on #223
@vielmetti yep! my account is setup now.

[2020-11-06 00:06] lanefu commented on #223
@pgmwoa Okay we have access to the account, and will wait for you to provision and confirm.

[2020-11-06 06:09] pgmwoa commented on #223
Necessary infrastructure is reserved. Please refer to the welcome email for instructions on how to use the reserved server and the supporting resources.

[2020-11-06 15:42] vielmetti commented on #223
Looks like we're good to go @lanefu

[2020-11-08 00:52] vielmetti commented on #102
Referenced at https://github.com/bazelbuild/rules_docker/issues/1155 - while the Bazel binary work is complete, there are still a few gaps in the rules, in this case for multiarch docker (which in turn affects the `kind` project).

[2020-11-09 05:58] #223 closed

[2020-11-09 19:49] vielmetti commented on #5
@avsm can you update on the Ampere setup? I see a couple of machines in use; would appreciate any news.

[2020-11-10 13:29] vielmetti commented on #225
Thanks @rvs - we'll get this set up for you!

[2020-11-10 20:52] rvs commented on #225
This is awesome news @vielmetti -- not to be a pest ;-) but any ETA?

[2020-11-11 02:26] vielmetti commented on #225
Account is set up, hardware is reserved. You should get a note from @pgmwoa with the full welcome. Follow the docs at https://metal.equinix.com/developers/docs/deploy/reserved/ to deploy your reserved hardware.

[2020-11-11 05:51] pgmwoa commented on #225
Please refer to the welcome email for instructions on how to use the reserved server and the supporting resources.

[2020-11-16 14:39] vielmetti commented on #221
An update!

We are looking at timing for the shipment and turnup of the new Ampere Altra servers. When I get a specific date for those I'll add that to this issue.

[2020-11-16 17:52] vielmetti commented on #225
@rvs - at your convenience, please schedule a call with me at https://calendly.com/evielmetti to go over what your plans and goals are and how we can help achieve them!

[2020-11-19 06:19] pgmwoa commented on #222
Hi @advancedwebdeveloper Please fill out the template and post the form

[2020-11-19 06:20] #225 closed

[2020-11-19 09:04] advancedwebdeveloper commented on #222
I will get back to this, during this week

[2020-11-20 08:31] pgmwoa commented on #222
Thanks

[2020-11-22 14:58] advancedwebdeveloper commented on #222
---
name: Request access for building gollvm
about: Build automation of https://go.googlesource.com/gollvm/ (llvm-goc and libgo) and end-user Go projects
title: 'Aarch64 port of gollvm'
labels: ''
assignees: 'vielmetti, pgmwoa'

---

Ivan Serdyuk, local.tourist.kiev@gmail.com, Self-employed, Web developer/DevOps
Than Macintosh, thanm@google.com, Google, Compiler developer
Ian Lance Taylor, ian@air

[2020-11-23 15:05] vielmetti commented on #222
attn @pgmwoa @kushalkoolwal

Thanks, we'll look at this and put it on our agenda for today's meeting (2020-W48).

[2020-11-24 01:52] advancedwebdeveloper commented on #222
Do you expect me to join, today?
In any case: I could attend a conf call, on some date - but I would have to know when.

[2020-11-24 11:48] vielmetti commented on #222
@advancedwebdeveloper This has been approved, look for project setup, with a goal of getting that done today pending inventory confirmation.

For a conference call, schedule a time via my Calendly - https://calendly.com/evielmetti . If no time zone slots are suitable, let me know and I'll open up a few more hours earlier in my day.

There are two possible machine types, c1.large.arm (96-core Thund

[2020-11-24 15:08] vielmetti commented on #179
Reopening to reflect updated information.

see https://github.com/netbootxyz/netboot.xyz/issues/162

[2020-11-25 11:50] advancedwebdeveloper commented on #222
Ed,
that for elaborating.

It would be require to check available CPU features, as Clang identifies those.

Could you try to build & run https://gist.github.com/advancedwebdeveloper/09033869445a09a2e297a73387d46c41 , on each server ?

The output would contain CPU features prefixed with a "+" or a "-" (available/not available).
We would need that summary from both servers.

[2020-12-04 21:06] vielmetti commented on #222
@advancedwebdeveloper

Ivan - you should be able to provision a server of the appropriate type on an on demand basis, running whichever operating system you choose, and run these codes directly. Provisioning takes about 10-15 minutes depending on server type. Just destroy the system when you're done, or keep it and let us know the server ID so that we can reserve it for you.

[2020-12-07 08:11] wolfv commented on #220
Sharing with conda-forge now. Thanks!

[2020-12-07 08:11] #220 closed

[2020-12-14 06:59] pgmwoa commented on #222
Please refer to the welcome email for instructions on how to use the reserved server and the supporting resources.

[2020-12-14 06:59] #222 closed

[2020-12-18 12:58] vielmetti commented on #203
Noting https://github.com/rancher/harvester/issues/371 and that Kubevirt is a dependency for the new Harvester HCI from Rancher.

[2021-03-01 21:12] andrey-norkin opened #229 "Access to Arm servers for AOMedia Codec WG"
Opening an issue on donating Arm servers access to the AOMedia Codec Working Group. Please add the relevant information to this thread.

Many thanks to Arm for this great offer!

[2021-03-01 22:26] andrey-norkin opened #230 "Access to Arm servers for AOMedia Codec WG"
### Name, email, company, job title

Andrey Norkin, anorkin@netflix.com, Netflix, AOMedia Codec WG co-chair
Adrian Grange, agrange@google.com, Google, AOMedia Codec WG co-chair

### Project Title and description

Donating Arm servers access to the AOMedia Codec Working Group.

### Which members of the community would benefit from your work?

The Codec Working Group in the Alliance for Open Media w

[2021-03-01 22:26] #229 closed

[2021-03-03 19:53] pgmwoa commented on #230
We are in the process of getting the servers ready for you. You will get an email as soon as the hardware is reserved and ready for use.

[2021-03-04 23:28] stsquad opened #231 "QEMU - Works On Arm Sponsored"
If you are interested in filing a request for access to the Works on Arm test and
CI infrastructure, please fill out the details below.

### Name, email, company, job title

Alex Bennée
alex.bennee@linaro.org
Linaro
Senior Software Engineer

### Project Title and description

QEMU - Hardware Virtualisation VMM and emualtor

### Which members of the community would benefit from your work?

Broadly

[2021-03-05 08:30] tellenbach opened #232 "Eigen - Migrate to Ampere Altra Mt Snow - Works On Arm Sponsored"
### Name, email, company, job title

Name: David Tellenbach
Email: david.tellenbach@me.com

### Project Title and description

Eigen is a C++ library for linear algebra and related algorithms that is widely used in a number of well-known projects, including Tensorflow.

### Which members of the community would benefit from your work?

Arm would benefit since Eigen is used as a core dependency in a

[2021-03-05 08:34] tellenbach commented on #232
cc @kushalkoolwal

[2021-03-05 18:16] pgmwoa commented on #221
We are in the process of getting the servers ready for you. You will get an email as soon as the hardware is reserved and ready for use.

[2021-03-05 18:17] pgmwoa commented on #231
We are in the process of getting the servers ready for you. You will get an email as soon as the hardware is reserved and ready for use.

[2021-03-05 18:18] pgmwoa commented on #232
We are in the process of getting the servers ready for you. You will get an email as soon as the hardware is reserved and ready for use.

[2021-03-05 21:54] vielmetti commented on #232
Thanks @tellenbach -

The Armv8.2 instruction set looks like it would have very useful new bits for the core of what Eigen is doing. Do you have any anticipation what the new low precision instructions will do for performance?

[2021-03-05 22:25] vielmetti commented on #230
Two Mt Jade servers have now been assigned to the project.

[2021-03-06 02:41] pgmwoa commented on #230
Necessary infrastructure is reserved. Please refer to the welcome email for instructions on how to use the reserved server and the supporting resources.

[2021-03-06 02:41] #230 closed

[2021-03-06 20:39] tellenbach commented on #232
Thanks @pgmwoa!

@vielmetti unfortunately not yet. We now support ARMv8.2-a native half floats but haven't benchmarked them so far. I'll keep you updated!

[2021-03-09 14:35] maxim-kuvyrkov opened #233 "Linaro - LLVM builder"
### Name, email, company, job title

Name: Maxim Kuvyrkov
Email: maxim.kuvyrkov@linaro.org
Company: Linaro
Job title: Toolchain Tech Lead

### Project Title and description

LLVM Buildbots for AArch64 and AArch32

### Which members of the community would benefit from your work?

LLVM community relies on buildbot infrastructure (http://lab.llvm.org:8011/) for continuous integration and testing of l

[2021-03-09 14:41] maxim-kuvyrkov opened #234 "Linaro - GNU toolchain"
### Name, email, company, job title

Name: Maxim Kuvyrkov
Email: maxim.kuvyrkov@linaro.org
Company: Linaro
Job title: Toolchain Tech Lead

### Project Title and description

GNU toolchain builders for AArch64 and AArch32

### Which members of the community would benefit from your work?

Anyone using GNU toolchain on ARM architecture, which includes most Linux distros.

### Is the code that you’re

[2021-03-09 15:51] pgmwoa commented on #233
We are in the process of getting the servers ready for you. You will get an email as soon as the hardware is reserved and ready for use.

[2021-03-09 15:52] pgmwoa commented on #234
We are in the process of getting the servers ready for you. You will get an email as soon as the hardware is reserved and ready for use.

[2021-03-11 12:07] nsz-arm opened #235 "GNU Toolchain - Works On Arm Sponsored"
### Name, email, company, job title

Szabolcs Nagy <szabolcs.nagy@arm.com>, Arm Ltd., Software engineer
Luis Machado <luis.machado@linaro.org>, Linaro Ltd., Software engineer
Vidya Praveen <vidyapraveen@arm.com>, Arm Ltd., Software engineer

### Project Title and description

GNU Toolchain - Continuous native testing on aarch64 and aarch32
of upstream GNU tools, mainly for the GDB and Glibc projec

[2021-03-11 19:26] pgmwoa commented on #235
We are in the process of getting the servers ready for you. You will get an email as soon as the hardware is reserved and ready for use.

[2021-03-17 11:29] mzyngier opened #236 "KVM/arm64 - Works On Arm Sponsored"
If you are interested in filing a request for access to the Works on Arm test and
CI infrastructure, please fill out the details below.

If you are just making a comment, ignore/delete those fields and file your issue.

Proposals will be evaluated on a biweekly cycle by Arm and Equinix Metal.

### Name, email, company, job title

Marc Zyngier <maz@kernel.org>, Google, Software Engineer
Christoffer

[2021-03-17 17:06] pgmwoa commented on #236
We are in the process of getting the servers ready for you. You will get an email as soon as the hardware is reserved and ready for use.

[2021-03-18 09:43] stsquad commented on #231
Gentle ping. Just checking nothing got lost.

[2021-03-18 16:25] fozog opened #237 "Linaro - Works On Arm Sponsored"
### Name, email, company, job title
Ozog, francois.ozog@linaro.org, Linaro, Director edge and fog computing group
Holmes, mike.holmes@linaro.org, Linaro, Director foundational technologies
Bech, Joakim.bech@linaro.org, Linaro, Distinguished Engineer

### Project Title and description
Title: Mixed critical virtual environments
Description: integrate and build all necessary technologies to implement

[2021-03-18 17:01] pgmwoa commented on #231
There is a slight delay in servers availability. We have your project in list for hw reservation and you should receive a notification as soon as it is done.

[2021-03-18 17:03] pgmwoa commented on #237
We are in the process of getting the servers ready for you. You will get an email as soon as the hardware is reserved and ready for use.

[2021-03-18 18:28] vielmetti commented on #232
The server has been assigned to the project.

@tellenbach please note that we have had some early issues, specifically around rebooting Ubuntu systems after a recent set of patches to the GRUB boot loader. Kindly review https://gist.github.com/vielmetti/dafb5128ef7535c218f6d963c5bc624e if you are planning to use Ubuntu on these machines, there are instructions there which I have tested. A full fix

[2021-03-18 18:54] pgmwoa commented on #232
Necessary infrastructure is reserved. Please refer to the welcome email for instructions on how to use the reserved server and the supporting resources.

[2021-03-18 18:54] #232 closed

[2021-03-18 19:18] pgmwoa commented on #233
Necessary infrastructure is reserved. Please refer to the welcome email for instructions on how to use the reserved server and the supporting resources. We will be looking forward for your feedback / experience on new servers.

[2021-03-18 19:18] #233 closed

[2021-03-18 21:11] kielfriedt opened #238 "N1 SONIC enablement - Works On Arm Sponsored"
..

[2021-03-18 21:34] #238 closed

[2021-03-18 21:54] kielfriedt opened #239 "SONIC ARM switch enablement - Works On Arm Sponsored"
If you are interested in filing a request for access to the Works on Arm test and
CI infrastructure, please fill out the details below.

If you are just making a comment, ignore/delete those fields and file your issue.

Proposals will be evaluated on a biweekly cycle by Arm and Equinix Metal.

### Name, email, company, job title

Kiel Friedt kiel.friedt@arm.com ARM Support engineer

### Project Ti

[2021-03-18 23:59] pgmwoa commented on #239
We are in the process of getting the servers ready for you. You will get an email as soon as the hardware is reserved and ready for use.

[2021-03-19 02:14] futurejones opened #240 "Swift on Arm - Migration to Altra - Works On Arm Sponsored"
Hi WoA Program Team,

I am confirming that the new server details as listed below are excellent and suitable for the Swift on Arm project.
The current server is located in Tokyo (NRT1). This location is not important and can be changed if necessary.
Please go forward with the migration.

Thanks,
Neil.

[2021-03-19 03:44] rvagg opened #241 "Node.js - Works On Arm Sponsored (migration to Altra servers)"
We've been instructed to open an issue here to begin migration of our CI infrastructure to the new Altra servers that have been reserved for us. Please let me know if there's anything else you need from us, otherwise we'll wait to hear back on progress and next steps.

/cc @mhdawson

[2021-03-19 09:44] fboudra opened #242 "Linaro - Jenkins CI - Migration to Altra Mt Snow - Works On Arm Sponsored"
### Fathi Boudra, fathi.boudra@linaro.org, Linaro, Principal Engineer (System Technologies Group)

### Project Title and description

Linaro CI build slaves - general purpose

Linaro is a collaborative engineering organization consolidating and optimizing open source software and tools for the Arm architecture. Linaro engineering works with upstream (and downstream) projects on a set of requiremen

[2021-03-19 17:22] pgmwoa commented on #242
We are in the process of getting the servers ready for you. You will get an email as soon as the hardware is reserved and ready for use.

[2021-03-19 18:57] vielmetti commented on #235
@pgmwoa Manisha there is a previous project #98 from @u99127 which has the same description ("Arm GNU Toolchain").

[2021-03-19 19:32] pgmwoa commented on #235
Necessary infrastructure is reserved. Please refer to the welcome email for instructions on how to use the reserved server and the supporting resources. We will be looking forward for your feedback / experience on new servers.

[2021-03-19 19:32] #235 closed

[2021-03-19 22:34] futurejones commented on #240
Notice to Manisha Nigam.
This is an ongoing existing approved project.
Details on the project are here https://github.com/WorksOnArm/cluster/issues/62

[2021-03-20 19:41] clandmeter opened #243 "Alpine Linux - Works On Arm Sponsored"
If you are interested in filing a request for access to the Works on Arm test and
CI infrastructure, please fill out the details below.

If you are just making a comment, ignore/delete those fields and file your issue.

Proposals will be evaluated on a biweekly cycle by Arm and Equinix Metal.

### Name, email, company, job title

Carlo Landmeter, Alpine Linux, Infra manager
Natanael Copa, Alpine L

[2021-03-21 17:36] avikivity opened #244 "Seastar, ScyllaDB - Works On Arm Sponsored"
If you are interested in filing a request for access to the Works on Arm test and
CI infrastructure, please fill out the details below.

If you are just making a comment, ignore/delete those fields and file your issue.

Proposals will be evaluated on a biweekly cycle by Arm and Equinix Metal.

### Name, email, company, job title

Avi Kivity <avi@scylladb.com>, ScyllaDB, CTO

Note that projects wit

[2021-03-21 19:17] vielmetti commented on #244
I updated the title to make it easier to track.

[2021-03-22 10:17] avikivity commented on #244
Oops, thanks.

[2021-03-22 13:21] sxa opened #245 "Eclipse Adoptium - Works On Arm Sponsored"
If you are interested in filing a request for access to the Works on Arm test and
CI infrastructure, please fill out the details below.

If you are just making a comment, ignore/delete those fields and file your issue.

Proposals will be evaluated on a biweekly cycle by Arm and Equinix Metal.

### Name, email, company, job title

Stewart Addison sxa@adoptopenjdk.net

### Project Title and descript

[2021-03-22 17:01] pgmwoa commented on #240
Please fill the details in the template for the ticket to be approved.

[2021-03-22 17:01] pgmwoa commented on #241
Please fill the details in the template for the ticket to be approved.

[2021-03-22 19:01] janisz opened #246 "Project name - Works On Arm Sponsored"
According to email conversation Mesos on ARM (https://github.com/WorksOnArm/cluster/issues/9) is ready to move to a new server.

[2021-03-22 19:51] #246 closed

[2021-03-22 19:53] pgmwoa commented on #236
Necessary infrastructure is reserved. Please refer to the welcome email for instructions on how to use the reserved server and the supporting resources. We will be looking forward for your feedback / experience on new servers.

[2021-03-22 19:53] #236 closed

[2021-03-22 20:00] pgmwoa commented on #221
Necessary infrastructure is reserved. Please refer to the welcome email for instructions on how to use the reserved server and the supporting resources. We will be looking forward for your feedback / experience on new servers.

[2021-03-22 20:00] #221 closed

[2021-03-22 20:05] pgmwoa commented on #231
Necessary infrastructure is reserved. Please refer to the welcome email for instructions on how to use the reserved server and the supporting resources. We will be looking forward for your feedback / experience on new servers.

[2021-03-22 20:05] #231 closed

[2021-03-22 20:55] pgmwoa commented on #237
Necessary infrastructure is reserved. Please refer to the welcome email for instructions on how to use the reserved server and the supporting resources. We will be looking forward for your feedback / experience on new servers.

[2021-03-22 20:55] #237 closed

[2021-03-22 21:11] pgmwoa commented on #245
We are in the process of getting the servers ready for you. You will get an email as soon as the hardware is reserved and ready for use.

[2021-03-22 21:12] pgmwoa commented on #243
We are in the process of getting the servers ready for you. You will get an email as soon as the hardware is reserved and ready for use.

[2021-03-22 21:18] pgmwoa commented on #244
We are in the process of getting the servers ready for you. You will get an email as soon as the hardware is reserved and ready for use.

[2021-03-22 23:46] ViralBShah opened #247 "Julia - Works On Arm Sponsored"
If you are interested in filing a request for access to the Works on Arm test and
CI infrastructure, please fill out the details below.

If you are just making a comment, ignore/delete those fields and file your issue.

Proposals will be evaluated on a biweekly cycle by Arm and Equinix Metal.

### Name, email, company, job title
Viral Shah, viral@mayin.org, Julia Project, co-creator

Note that pro

[2021-03-22 23:47] ViralBShah commented on #247
cc @staticfloat

[2021-03-23 18:11] pgmwoa commented on #247
We are in the process of getting the servers ready for you. You will get an email as soon as the hardware is reserved and ready for use.

[2021-03-23 19:09] leandron opened #248 "LLVM and Flang - Works On Arm Sponsored"
This proposal covers two projects that share same infra, under an existing project called "Sponsore LLVM". This ticket is a request for migration of existing AArch64 systems to new Altra machines.

### Name, email, company, job title
Fatih Onur, fatih.onur at arm.com, Arm, DevOps Engineer
Gary Caroll, gary.carol at arm.com, Am, DevOps Engineer
Leandro Nunes: leandro.nunes at arm.com, Arm, Compiler

[2021-03-23 19:15] pgmwoa commented on #239
Necessary infrastructure is reserved. Please refer to the welcome email for instructions on how to use the reserved server and the supporting resources. We will be looking forward for your feedback / experience on new servers.

[2021-03-23 19:15] #239 closed

[2021-03-23 19:18] pgmwoa commented on #234
Necessary infrastructure is reserved. Please refer to the welcome email for instructions on how to use the reserved server and the supporting resources. We will be looking forward for your feedback / experience on new servers.

[2021-03-23 19:18] #234 closed

[2021-03-23 19:21] pgmwoa commented on #242
Necessary infrastructure is reserved. Please refer to the welcome email for instructions on how to use the reserved server and the supporting resources. We will be looking forward for your feedback / experience on new servers.

[2021-03-23 19:21] #242 closed

[2021-03-23 19:47] pgmwoa commented on #245
Necessary infrastructure is reserved. Please refer to the welcome email for instructions on how to use the reserved server and the supporting resources. We will be looking forward for your feedback / experience on new servers.

[2021-03-23 19:47] #245 closed

[2021-03-23 23:23] sstabellini opened #249 "Xen Project - Works On Arm Sponsored"
If you are interested in filing a request for access to the Works on Arm test and
CI infrastructure, please fill out the details below.

If you are just making a comment, ignore/delete those fields and file your issue.

Proposals will be evaluated on a biweekly cycle by Arm and Equinix Metal.

### Participants
Stefano Stabellini, sstabellini@kernel.org, Xilinx, Xen Maintainer
Julien Grall, julien@

[2021-03-23 23:47] pgmwoa commented on #249
We are in the process of getting the servers ready for you. You will get an email as soon as the hardware is reserved and ready for use.

[2021-03-24 06:31] futurejones commented on #240
_If you are interested in filing a request for access to the Works on Arm test and
CI infrastructure, please fill out the details below._

_If you are just making a comment, ignore/delete those fields and file your issue._

_Proposals will be evaluated on a biweekly cycle by Arm and Equinix Metal._

### Neil Jones, neil@swift-arm.com

_Note that projects with two or more participants are preferred

[2021-03-24 19:52] pgmwoa commented on #244
Necessary infrastructure is reserved. Please refer to the welcome email for instructions on how to use the reserved server and the supporting resources. We will be looking forward for your feedback / experience on new servers

[2021-03-24 19:55] pgmwoa commented on #243
Necessary infrastructure is reserved. Please refer to the welcome email for instructions on how to use the reserved server and the supporting resources. We will be looking forward for your feedback / experience on new servers

[2021-03-24 19:55] #243 closed

[2021-03-24 19:57] pgmwoa commented on #240
We are in the process of getting the servers ready for you. You will get an email as soon as the hardware is reserved and ready for use.

[2021-03-25 08:21] avikivity commented on #244
I'm up and running. Many thanks.

[2021-03-26 06:37] spacejam opened #250 "Sled - Works On Arm Sponsored"
The Sled project, an embedded database leaning heavily into lock-free concurrency and targeting a variety of Arm architectures, is an existing tenant in the Works on Arm system, and has been asked to migrate to the next generation of Arm servers, off of the previous ThunderX setup.

Manisha Nigam has proposed the use of one Altra Mt Snow - 1P, 80 core system.

This migration may occur at any time,

[2021-03-26 19:34] mhdawson opened #251 "Node.js - Works On Arm Sponsored"
### Name, email, company, job title

Michael Dawson, midawson@redhat.com, Chair of the Node.js Technical steering comittee

### Project Title and description

Node.js - builds Node.js - https://github.com/nodejs/node

### Which members of the community would benefit from your work?

Anybody who wants to run Node.js on the ARM architecture

### Is the code that you’re going to run 100% open source?

[2021-03-26 19:38] pgmwoa commented on #241
Closing this ticket as a new one #251 has been opened

[2021-03-26 19:38] #241 closed

[2021-03-26 19:51] pgmwoa commented on #251
We are in the process of getting the servers ready for you. You will get an email as soon as the hardware is reserved and ready for use

[2021-03-27 23:34] jonglezb opened #252 "GCC compile farm - Works On Arm Sponsored"
### Name, email, company, job title

Baptiste Jonglez, gccfarm@bitsofnetworks.org, GCC compile farm, volunteer / admin

### Project Title and description

The GCC compile farm started as a way to test GCC on many different architectures and systems (x86, ARM, Power, Sparc, Mips, Linux, BSD, AIX...). Over the years, interest has grown from many free software projects in addition to GCC, and there a

[2021-03-30 12:43] vielmetti commented on #221
Noting a v0.14 release at https://www.phoronix.com/scan.php?page=news_item&px=Cloud-Hypervisor-0.14

[2021-03-30 21:30] ViralBShah commented on #247
Hi - Just checking in if a server is available for us to get started?

[2021-03-31 13:27] jonmason opened #253 "OpenEmbedded - Works On Arm Sponsored"
If you are interested in filing a request for access to the Works on Arm test and
CI infrastructure, please fill out the details below.

If you are just making a comment, ignore/delete those fields and file your issue.

Proposals will be evaluated on a biweekly cycle by Arm and Equinix Metal.

### Name, email, company, job title

Jon Mason, jon.mason@arm.com, Arm, Principal Yocto Developer

### Pr

[2021-03-31 16:31] pgmwoa commented on #253
We are in the process of getting the servers ready for you. You will get an email as soon as the hardware is reserved and ready for use.

[2021-03-31 20:59] pgmwoa commented on #249
Necessary infrastructure is reserved. Please refer to the welcome email for instructions on how to use the reserved server and the supporting resources.
We will be looking forward for your feedback / experience on new servers.

[2021-03-31 20:59] #249 closed

[2021-04-01 18:25] lfam opened #254 "GNU Guix build farm - Works On Arm Sponsored"
### Name, email, company, job title

Leo Famulari
leo@famulari.name
[GNU Guix](https://guix.gnu.org/)
Volunteer contributor

### Project Title and description

We ask for your help in expanding our build farm and CI pipeline for the aarch64 platform.

GNU Guix is a GNU / Linux operating system distribution based on the functional packagement management idea pioneered by [Nix](https://en.wikipedia.

[2021-04-03 21:26] kat-co commented on #254
FWIW, I can confirm that @lfam contributes to Guix above and beyond commits. They were just assisting me in diagnosing an aarch64 build failure yesterday in Guix's chat channel.

I would also be very happy to see Guix's capacity to build arm binaries increased. I have a few low-power aarch64 devices I'd like to use Guix on, and I would plan to purchase many more if I could run Guix on them.

Thank

[2021-04-06 08:55] ebeasant-arm opened #255 "Veracruz - Works On Arm Sponsored"
If you are interested in filing a request for access to the Works on Arm test and
CI infrastructure, please fill out the details below.

If you are just making a comment, ignore/delete those fields and file your issue.

Proposals will be evaluated on a biweekly cycle by Arm and Equinix Metal.

### Name, email, company, job title
Edwin Beasant, edwin.beasant@arm.com, Arm, Staff Software Engineer
Do

[2021-04-06 21:21] bsdphk opened #256 "Varnish Cache - Works On Arm Sponsored"
If you are interested in filing a request for access to the Works on Arm test and
CI infrastructure, please fill out the details below.

If you are just making a comment, ignore/delete those fields and file your issue.

Proposals will be evaluated on a biweekly cycle by Arm and Equinix Metal.

### Name, email, company, job title

Poul-Henning Kamp, phk@varnish-cache.org, project founder & architec

[2021-04-06 22:07] pgmwoa commented on #256
There are no details added to the ticket. Pls add or else it will be considered for closure.

[2021-04-06 22:09] pgmwoa commented on #256
Thanks for details.

[2021-04-06 22:15] pgmwoa commented on #247
We are in the process of getting them ready, probably sometime next week. Your project is in queue for reservation.

[2021-04-09 01:52] hejianet opened #257 "Kubernetes - Request 2 Ampere Altra machines for K8s e2e test"
If you are interested in filing a request for access to the Works on Arm test and
CI infrastructure, please fill out the details below.

If you are just making a comment, ignore/delete those fields and file your issue.

Proposals will be evaluated on a biweekly cycle by Arm and Equinix Metal.

### Name, email, company, job title

Dave Chen <Dave.Chen@arm.com>
Howard Zhang <Howard.Zhang@arm.com>

#

[2021-04-09 01:53] hejianet commented on #257
/cc @zhlhahaha @chendave

[2021-04-09 01:57] hejianet commented on #257
Sorry, this request is on behalf of @justin-he
justin.he@arm.com
I logined on the github account with my gmail id.

[2021-04-09 01:59] justin-he commented on #257
Confirmed, thanks

[2021-04-09 14:04] AssadHashmi opened #258 "DynamoRIO - Works On Arm Sponsored"
This is an access request for Works on Arm test and CI infrastructure for the DynamoRIO project.
We require v8.2 hardware for supporting newer machines.

### Name, email, company, job title
Assad Hashmi
assad.hashmi@arm.com
Arm
Software Engineer

Paul Walker
paul.walker@arm.com
Arm
Architect

### Project Title and description
DynamoRIO is a runtime code manipulation system that supports code trans

[2021-04-09 17:19] pgmwoa commented on #257
We are in the process of getting the servers ready for you. You will get an email as soon as the hardware is reserved and ready for use.

[2021-04-09 17:21] pgmwoa commented on #258
We are in the process of getting the servers ready for you. You will get an email as soon as the hardware is reserved and ready for use.

[2021-04-14 22:32] pgmwoa commented on #252
Thanks for your interest in Works On Arm program. We are reviewing your request and will get back soon.

[2021-04-14 22:40] pgmwoa commented on #254
Thanks for your interest in Works On Arm program. Currently migration is in progress and we have limited inventory. In meantime we are trying to check possibility of alternate resources. We will get back when we have some more details.

[2021-04-14 22:54] lfam commented on #254
Thanks for your reply!

We look forward to hearing about alternate resources.

Please let us know if there's anything we can do to help our application succeed.

[2021-04-15 16:19] AssadHashmi commented on #258
Thanks @pgmwoa
Would it be possible to provision the machine with a Linux kernel version higher than 4.18 ?
That's because our development work requires the restartable sequences (`rseq`) feature of Linux.

[2021-04-15 22:48] pgmwoa commented on #255
Project renamed to Veracruz and enabled access so that project can use the shared machine, the existing eMag that was under Project Oak. New user access added for Dominic Mulligan.

[2021-04-15 22:48] #255 closed

[2021-04-15 22:54] pgmwoa commented on #247
Necessary infrastructure is reserved. Please refer to the welcome email for instructions on how to use the reserved server and the supporting resources.
We will be looking forward for your feedback / experience on new servers.

[2021-04-15 22:54] #247 closed

[2021-04-15 22:57] pgmwoa commented on #253
Necessary infrastructure is reserved. Please refer to the welcome email for instructions on how to use the reserved server and the supporting resources.
We will be looking forward for your feedback / experience on new servers

[2021-04-15 22:57] #253 closed

[2021-04-15 23:03] pgmwoa commented on #240
Necessary infrastructure is reserved. Please refer to the welcome email for instructions on how to use the reserved server and the supporting resources.
We will be looking forward for your feedback / experience on new servers

[2021-04-15 23:03] #240 closed

[2021-04-15 23:05] pgmwoa commented on #258
Necessary infrastructure is reserved. Please refer to the welcome email for instructions on how to use the reserved server and the supporting resources.
We will be looking forward for your feedback / experience on new servers

[2021-04-15 23:05] #258 closed

[2021-04-17 01:52] futurejones commented on #240
Thank you

[2021-04-19 18:38] jdekonin opened #260 "OpenJ9 - Works On Arm Sponsored"
### Name, email, company, job title

Dan Heidinga, heidinga@redhat.com, RedHat, Principle Software Engineer / Eclipse OpenJ9 Project Lead

### Project Title and description

Eclipse OpenJ9

A Java Virtual Machine for OpenJDK that's optimized for small footprint, fast start-up, and high throughput.

Eclipse OpenJ9 is an independent implementation of a Java Virtual Machine. "Independent implementati

[2021-04-19 18:42] jdekonin commented on #260
The system owner(s) from a configuration management point of view will be Raj with Adam and I as backups.
Rajdeep Singh, rajdeep.singh@ibm.com, IBM, Infrastructure Specialist
Adam Brousseau, adam.brousseau@ca.ibm.com, IBM, Release & Continuous Integration Engineer
Joe deKoning, joe_dekoning@ca.ibm.com, IBM, Release & Continuous Integration Engineer

fyi @rajdeepsingh1 @adambrousseau @jdekonin

[2021-04-19 18:56] pgmwoa commented on #260
We are in the process of getting the servers ready for you. You will get an email as soon as the hardware is reserved and ready for use.

[2021-04-29 02:48] mattst88 opened #261 "Gentoo - Works On Arm Sponsored"
### Name, email, company, job title

Matt Turner \<mattst88@gentoo.org\>, Gentoo Linux, Developer.

### Project Title and description

Gentoo Linux is a Linux distribution built using the Portage package management system. Unlike a binary software distribution, the source code is compiled locally according to the user's preferences and is often optimized for the specific type of computer.

### Des

[2021-05-02 22:33] sroracle commented on #59
Hello @vielmetti - I'm one of the developers of Adélie Linux and I'm reaching out because sometime last year we lost access to our ARM builder without any disclosure as to the reason why that occurred. How can we remedy this?

I should note that while @awilfox is still around a little, we are in the process of transferring most of the project responsibilities to our other developers in respect of

[2021-05-03 12:43] vielmetti commented on #59
Hi @sroracle - let me look into the current status of things and figure out a best path forward.

[2021-05-03 17:23] pgmwoa commented on #257
Necessary infrastructure is reserved. Please refer to the welcome email for instructions on how to use the reserved server and the supporting resources. We will be looking forward for your feedback / experience on new servers.

[2021-05-03 17:23] #257 closed

[2021-05-04 20:47] #59 closed

[2021-05-04 22:03] pgmwoa commented on #261
We are in the process of getting the servers ready for you. You will get an email as soon as the hardware is reserved and ready for use.

[2021-05-04 22:06] pgmwoa commented on #179
Closing the ticket as not considered for WoA program

[2021-05-04 22:06] #179 closed

[2021-05-05 00:41] lfam commented on #254
Our request wasn't granted due to limited inventory. Thanks anyways!

[2021-05-05 00:41] #254 closed

[2021-05-07 18:51] pgmwoa commented on #261
Necessary infrastructure is reserved. Please refer to the welcome email for instructions on how to use the reserved server and the supporting resources. We will be looking forward for your feedback / experience on new servers.

[2021-05-07 18:51] #261 closed

[2021-05-07 18:55] pgmwoa commented on #252
Closing the ticket after email discussion with project.

[2021-05-07 18:55] #252 closed

[2021-05-11 14:54] junaruga opened #262 "Ruby - Works On Arm Sponsored"
### Name, email, company, job title

Jun Aruga, jaruga [at] redhat.com (or jaruga [at] ruby-lang.org), Red Hat, Software Engineer

I am requesting on behalf of the Ruby project. We believe [Works On Arm is interested in supporting us](https://www.worksonarm.com/projects/).

### Project Title and description

Ruby - A dynamic, open source programming language with a focus on simplicity and producti

[2021-05-13 20:36] koomie opened #263 "OpenHPC - Works On Arm Sponsored"
### Name, email, company, job title

Karl Schulz
karl@oden.utexas.edu
Research Associate Professor, University of Texas

Requesting on behalf of the OpenHPC Technical Steering Committee: https://github.com/openhpc/ohpc/wiki/Governance-Overview

### Project Title and description

OpenHPC: Community building blocks for HPC systems

### Describe your use case for these machines

These machines are us

[2021-05-13 21:25] pgmwoa commented on #263
We are in the process of getting the servers ready for you. You will get an email as soon as the hardware is reserved and ready for use.

[2021-05-19 13:46] avsm commented on #5
I missed the github ping, sorry about that @vielmetti!  Here's the update:

We are using the Amperes happily in production to drive the ocaml.org infrastructure CI, all documented at https://github.com/ocurrent/overview. From those, the most ARM-relevant ones are:
- https://base-images.ocamllabs.io -- this pushes to https://hub.docker.com/r/ocaml/opam and it is arm64/arm32 multiarch there (which w

[2021-05-19 18:30] kunaltyagi opened #264 "PCL - Works On Arm Sponsored"
### Name, email, company, job title
Maintainers:
1. @kunaltyagi, (tyagi.kunal at live.com)
2. @mvieth, (mvieth at techfak.uni-bielefeld.de)
3. @larshg, (larshg at gmail.com)

### Project Title and description
https://github.com/PointCloudLibrary/pcl

The Point Cloud Library (PCL) is a standalone, large scale, open project for 2D/3D image and point cloud processing.

### Describe your use case for

[2021-05-20 02:07] jongwu opened #265 "Kata Container - Works On Arm Sponsored"
### Name, email, company, job title

Jianyong Wu, jianyong.wu@arm.com, Arm, software engineer

### Project Title and description

Kata Containers

### Describe your use case for these machines

Now, 3 Arm servers have been reserved for Kata. But one of the servers, whose id is 136c9ed7-dace-43c8-8fe8-18ae952b8979, is a Qualcomm server and may be has hardware issue, I think, as I can't start a KVM

[2021-05-20 22:48] Aerdan opened #266 "APK Fission - Works On Arm Sponsored"
### Name, email, company, job title

Síle Ekaterin Aman, sheila@vulpine.house, APK Fission, founder
Max Rees, me@maxre.es, APK Fission, contributor

### Project Title and description

APK Fission

APK Fission is intended to provide cross-APK infrastructure for Ubuntu-style personal package archives and RPM Fusion-style access to freely-distributable, but license-restricted or non-Free, software fo

[2021-05-21 18:21] pgmwoa commented on #256
Thanks for your interest in WoA program.
As communicated via email, we would not be able to support the project at this moment due to limited inventory and high number of competing projects.
Closing the ticket for now due to no response.

[2021-05-21 18:21] #256 closed

[2021-05-25 20:41] jkleinsc opened #267 "Electron - Works On Arm Sponsored"
If you are interested in filing a request for access to the Works on Arm test and
CI infrastructure, please fill out the details below.

Proposals will be evaluated on a biweekly cycle or on a best effort basis by Arm and Equinix Metal.

### Name, email, company, job title
John Kleinschmidt, jkleinsc@electronjs.org, Microsoft, Senior Software Engineer

Note that projects with two or more participa

[2021-05-25 22:10] pgmwoa commented on #267
We are in the process of getting the servers (Ampere eMags) ready for you. You will get an email as soon as the hardware is reserved and ready for use.

[2021-05-26 08:09] barthalion opened #268 "GNOME - Works On Arm Sponsored"
### Name, email, company, job title

Bartłomiej Piotrowski, bpiotrowski@gnome.org, GNOME Foundation, DevOps Engineer

### Project Title and description

The GNOME Foundation is a non-profit organization that believes in a world where everyone is empowered by technology they can trust. We do this by building a diverse and sustainable free software personal computing ecosystem.

### Describe your us

[2021-05-26 08:59] jjardon opened #269 "Freedesktop-sdk- Works On Arm Sponsored"
### Name, email, company, job title
- Javier Jardon, jjardon@gnome.org, Systems engineer

### Project Title and description
Freedesktop-sdk

The freedesktop-sdk is a project that provides Platform and SDK runtimes for Flatpak apps and runtimes based on FOSS modules.

We are also a dependency of the Flatpak project, which has over 96 contributors and 1000s of users across multiple distros.

See htt

[2021-05-26 17:27] pgmwoa commented on #269
We are in the process of getting the servers (Ampere eMag) ready for you. You will get an email as soon as the hardware is reserved and ready for use

[2021-05-26 17:33] pgmwoa commented on #268
We are in the process of getting the servers (Ampere eMag) ready for you. You will get an email as soon as the hardware is reserved and ready for use

[2021-05-27 17:41] pgmwoa commented on #263
Necessary infrastructure is reserved. Please refer to the welcome email for instructions on how to use the reserved server and the supporting resources.
We will be looking forward for your feedback / experience on new servers.

[2021-05-27 17:41] #263 closed

[2021-05-27 17:44] pgmwoa commented on #267
Necessary infrastructure is reserved. Please refer to the welcome email for instructions on how to use the reserved server and the supporting resources.

[2021-05-27 17:44] #267 closed

[2021-05-27 17:47] pgmwoa commented on #269
Necessary infrastructure is reserved. Please refer to the welcome email for instructions on how to use the reserved server and the supporting resources.

[2021-05-27 17:47] #269 closed

[2021-05-27 17:49] pgmwoa commented on #268
Necessary infrastructure is reserved. Please refer to the welcome email for instructions on how to use the reserved server and the supporting resources.

[2021-05-27 17:49] #268 closed

[2021-06-01 20:24] jdekonin commented on #260
Any updates on timeframe?

[2021-06-01 23:03] pgmwoa commented on #260
We are still waiting for more Mt. Jade inventory to become available at Equinix. Will update you as soon as we have a time frame.

[2021-06-01 23:04] pgmwoa commented on #251
We are still waiting for more Mt. Jade inventory to become available at Equinix. Will update you as soon as we have a time frame.

[2021-06-02 02:16] jongwu opened #270 "Kata Container - Works On Arm Sponsored"
If you are interested in filing a request for access to the Works on Arm test and
CI infrastructure, please fill out the details below.

Proposals will be evaluated on a biweekly cycle or on a best effort basis by Arm and Equinix Metal.

### Name, email, company, job title

Justin He, justin.he@arm.com, Arm, principle software engineer
Jianyong Wu, jianyong.wu@arm.com, Arm, software engineer

###

[2021-06-02 02:16] jongwu commented on #270
@justin-he

[2021-06-02 17:08] pgmwoa commented on #265
Duplicate.
There is a new ticket filed #270 with latest / updated project information. Hence closing this old ticket.

[2021-06-02 17:08] #265 closed

[2021-06-02 20:16] pgmwoa commented on #270
We are in the process of getting the servers ready for you. You will get an email as soon as the hardware is reserved and ready for use.

[2021-06-04 18:17] mhdawson commented on #251
Thanks for the update.

[2021-06-07 17:50] pgmwoa commented on #262
We are in the process of getting the servers ready for you. You will get an email as soon as the hardware is reserved and ready for use.

[2021-06-07 21:02] pgmwoa commented on #262
Necessary infrastructure is reserved. Please refer to the welcome email for instructions on how to use the reserved server and the supporting resources. We will be looking forward for your feedback / experience on new servers

[2021-06-07 21:02] #262 closed

[2021-06-08 13:10] philwo opened #271 "Bazel - Works On Arm Sponsored"
If you are interested in filing a request for access to the Works on Arm test and
CI infrastructure, please fill out the details below.

Proposals will be evaluated on a biweekly cycle or on a best effort basis by Arm and Equinix Metal.

### Name, email, company, job title

- Philipp Wollermann, philwo@google.com, Google, Staff Software Engineer

### Project Title and description

**Bazel**

Bazel

[2021-06-08 17:24] pgmwoa commented on #271
We are in the process of getting the servers ready for you. You will get an email as soon as the hardware is reserved and ready for use.

[2021-06-08 18:28] raw-bin opened #272 "Request to upgrade previously provided AArch64 bare-metal instance for the Rust Language project"
Kind attention: @pietroalbini, @ashleygwilliams, @vielmetti, @awafaa

### Name, email, company, job title

- Robin Randhawa, robin.randhawa@arm.com, Arm, Technical Director for System Software Architecture
- Pietro Albini, pietro@pietroalbini.org, Rust Core Team Member

### Project Title and description

The Rust Language.

### Describe your use case for these machines

Rust language compiler CI/C

[2021-06-08 18:48] raw-bin opened #273 "Request to upgrade a previously provided AArch64 bare-metal instance for the wasmtime project"
Kind attention: @vielmetti, @alexcrichton, @tschneidereit, @awafaa

### Name, email, company, job title

- Robin Randhawa, robin.randhawa@arm.com, Arm, Technical Director for System Software Architecture

- Alex Crichton, alex@crichton.co, Fastly, Senior Staff Engineer

### Project Title and description

The [wasmtime](https://wasmtime.dev/) run-time for [WebAssembly (WASM)](https://webassembly.or

[2021-06-09 17:02] pgmwoa commented on #272
We are in the process of getting the servers (Mt Snow) ready for you. You will get an email as soon as the hardware is reserved and ready for use.

[2021-06-09 17:06] pgmwoa commented on #273
We are in the process of getting the servers (Mt Snow) ready for you. You will get an email as soon as the hardware is reserved and ready for use.

[2021-06-09 19:16] pgmwoa commented on #271
Necessary infrastructure is reserved. Please refer to the welcome email for instructions on how to use the reserved server and the supporting resources.
We will be looking forward for your feedback / experience on new servers.

[2021-06-09 19:25] pgmwoa commented on #272
Necessary infrastructure is reserved. Please refer to the welcome email for instructions on how to use the reserved server and the supporting resources.
We will be looking forward for your feedback / experience on new servers.

[2021-06-09 19:25] #272 closed

[2021-06-09 19:29] #273 closed

[2021-06-10 15:38] pgmwoa commented on #250
As communicated via email (8 June), server has been powered down. Closing the ticket.

[2021-06-10 15:38] #250 closed

[2021-06-11 19:04] vielmetti commented on #189
The machine that's supporting this problem is having hardware issues, and it's been difficult to be in touch with the team running this by email. @lubinsz do you have an update?

[2021-06-14 21:39] pgmwoa commented on #266
Thanks for your interest in WoA program.
As communicated via email, we would not be able to support the project at this moment due to limited inventory and high number of competing projects. Closing the ticket for now due to no response

[2021-06-14 21:39] #266 closed

[2021-06-14 21:40] pgmwoa commented on #264
Thanks for your interest in WoA program.
As communicated via email, we would not be able to support the project at this moment due to limited inventory and high number of competing projects. Closing the ticket for now due to no response.

[2021-06-14 21:40] #264 closed

[2021-06-15 03:29] lubinszARM commented on #189
cc @zhlhahaha

[2021-06-15 03:30] lubinszARM commented on #189
Hi @zhlhahaha
Can you help to check this issue?
Thanks.

[2021-06-15 03:43] zhlhahaha commented on #189
Hi @lubinszARM, thanks for informing me. I have replied @vielmetti via email.

[2021-06-15 18:11] pgmwoa commented on #260
Necessary infrastructure is reserved. Please refer to the welcome email for instructions on how to use the reserved server and the supporting resources.
We will be looking forward for your feedback / experience on new servers

[2021-06-15 20:39] pgmwoa commented on #189
Closing the ticket as communicated the issue & resolved access of new project owners - Howard.Zhang@arm.com & Justin.He@arm.com

[2021-06-15 20:39] #189 closed

[2021-06-21 14:54] philwo commented on #271
Hi,

I just wanted to let you know that I'm still in the progress of moving our setup from the old server to the new one. I'm sorry that it takes so long. I hope to finish by end of this week and would reply here then - is this ok?

Cheers,
Philipp

[2021-06-21 14:55] vielmetti commented on #271
Thanks @philwo for the progress report! Just let us know here when you've sorted things out.

[2021-06-22 13:49] tomaskrizek opened #274 "CZ.NIC Labs - Works On Arm Sponsored"
### Name, email, company, job title

Tomas Krizek tomas.krizek@nic.cz
CZ.NIC
Research Software Engineer

Daniel Salzman daniel.salzman@nic.cz
CZ.NIC
Research Software Engineer

Requesting on behalf of our organization, [CZ.NIC Labs](https://www.nic.cz/page/2049/projects-for-professionals/).

### Project Title and description

CZ.NIC Labs develops multiple free and open-source projects. These are t

[2021-06-24 22:09] zumbi opened #275 "Debian - Works On Arm Sponsored"
### Héctor Orón Martínez, zumbi _at_ debian _dot_ org, Debian, Debian Developer

### Debian GNU/Linux

Debian GNU/Linux, is a Linux distribution composed of free and open-source software, developed by the community-supported Debian Project. www.debian.org

### Describe your use case for these machines

I would like to use Mt. Jade system to power up the backends for Debian CI (ci.debian.net) and S

[2021-06-25 00:29] angerman opened #276 "Request to upgrade a previously provided AArch64 bare-metal instance for the haskell.nix project"
### Name, email, company, job title

Moritz Angermann moritz.angermann@gmail.com, Tools Team Lead

### Project Title and description

[haskell.nix](https://github.com/input-output-hk/haskell.nix) is a very flexible solution to build haskell project with nix. This project was conceived to allow different teams using different package setups (either cabal or stack) to build their projects seamlessly

[2021-06-28 06:57] deitch opened #277 "Linuxkit - Works On Arm Sponsored - request upgrade for existing"
If you are interested in filing a request for access to the Works on Arm test and
CI infrastructure, please fill out the details below.

Proposals will be evaluated on a biweekly cycle or on a best effort basis by Arm and Equinix Metal.

**Note:** This is a replacement for an existing one, as suggested and requested by Manisha Nigam.

### Name, email, company, job title

Maintainers:

* Avi Deitch

[2021-06-28 19:15] janisz opened #278 "Apache Mesos - Works On Arm Sponsored"
If you are interested in filing a request for access to the Works on Arm test and
CI infrastructure, please fill out the details below.

Proposals will be evaluated on a biweekly cycle or on a best effort basis by Arm and Equinix Metal.

### Name, email, company, job title

Name | Tomasz Janiszewski
---------|-------------------------------
Email | janiszt [at] gmail [dot] com
Twitter | [@janiszt]

[2021-06-28 19:16] janisz commented on #278
Previous request https://github.com/WorksOnArm/cluster/issues/9 (accepted)

[2021-06-29 12:13] avsm opened #279 "OCaml language - Works On Arm Sponsored"
If you are interested in filing a request for access to the Works on Arm test and
CI infrastructure, please fill out the details below.

Proposals will be evaluated on a biweekly cycle or on a best effort basis by Arm and Equinix Metal.

This is a followup to #5 for the purpose of the Mt Jade machines.

### Name, email, company, job title

Name: Anil Madhavapeddy
Email: anil@recoil.org
Company: Un

[2021-06-29 21:37] pgmwoa commented on #275
We are in the process of getting the servers ready for you. You will get an email as soon as the hardware is reserved and ready for use.

[2021-06-29 21:39] pgmwoa commented on #276
We are in the process of getting the servers ready for you. You will get an email as soon as the hardware is reserved and ready for use.

[2021-06-29 21:47] pgmwoa commented on #277
We are in the process of getting the servers ready for you. You will get an email as soon as the hardware is reserved and ready for use.

[2021-06-29 22:07] pgmwoa commented on #279
We are in the process of getting the servers ready for you. You will get an email as soon as the hardware is reserved and ready for use.

[2021-06-30 15:21] pgmwoa commented on #271
@philwo Hope all is going on well with migration.

[2021-06-30 19:56] pgmwoa commented on #251
Necessary infrastructure is reserved. Please refer to the welcome email for instructions on how to use the reserved server and the supporting resources.
We will be looking forward for your feedback / experience on new servers

[2021-06-30 19:56] #251 closed

[2021-06-30 19:58] pgmwoa commented on #279
Necessary infrastructure is reserved. Please refer to the welcome email for instructions on how to use the reserved server and the supporting resources. We will be looking forward for your feedback / experience on new servers

[2021-06-30 20:01] pgmwoa commented on #275
Necessary infrastructure is reserved. Please refer to the welcome email for instructions on how to use the reserved server and the supporting resources. We will be looking forward for your feedback / experience on new servers

[2021-06-30 20:01] #275 closed

[2021-07-01 16:18] pgmwoa commented on #248
Necessary infrastructure is reserved. Please refer to the welcome email for instructions on how to use the reserved server and the supporting resources. We will be looking forward for your feedback / experience on new servers.

We had reserved 2 Mt Snows  in March'21 and now with the recent allocation of 2 Mt Snows, your project allocation has been completed. Hence closing the ticket.

[2021-07-01 16:18] #248 closed

[2021-07-01 16:26] philwo commented on #271
Hi,

Really sorry for the delay. Migration is done now and the new machine is so fast! More than twice as fast as the old one. 🥺 Thank you, this will really help us. Please feel free to recycle the old server.

Cheers,
Philipp

[2021-07-01 18:27] pgmwoa commented on #276
Necessary infrastructure is reserved. Please refer to the welcome email for instructions on how to use the reserved server and the supporting resources. We will be looking forward for your feedback / experience on new servers.

[2021-07-01 18:27] #276 closed

[2021-07-01 18:31] pgmwoa commented on #277
Necessary infrastructure is reserved. Please refer to the welcome email for instructions on how to use the reserved server and the supporting resources. We will be looking forward for your feedback / experience on new servers.

[2021-07-01 18:31] #277 closed

[2021-07-01 19:21] pgmwoa commented on #270
Necessary infrastructure is reserved. Please refer to the welcome email for instructions on how to use the reserved server and the supporting resources. We will be looking forward for your feedback / experience on new servers.

[2021-07-01 19:21] #270 closed

[2021-07-07 00:33] pgmwoa commented on #274
Thanks for your interest in WoA Program. The program team reviewed your ticket and the decision has been communicated via email, dated July 1, 2021.

[2021-07-07 00:34] pgmwoa commented on #278
Thanks for your interest in WoA Program. The program team reviewed your ticket and the decision has been communicated via email, dated July 1, 2021.

[2021-07-07 02:52] zhlhahaha opened #280 "kubevirt/kubevirt CI - Works On Arm Sponsored"
### Name, email, company, job title

Howard Zhang, howard.zhang@arm.com, Arm, senior software engineer

### Project Title and description
KubeVirt (https://github.com/kubevirt/kubevirt) is a virtual machine management add-on for Kubernetes. The aim is to provide a common ground for virtualization solutions on top of Kubernetes. Also Kubevirt is a CNCF project.

### Describe your use case for these

[2021-07-07 02:52] zhlhahaha commented on #280
cc: @justin-he

[2021-07-07 02:56] zhlhahaha opened #281 "google/gVisor CI - Works On Arm Sponsored"
### Name, email, company, job title

Howard Zhang, howard.zhang@arm.com, Arm, senior software engineer

### Project Title and description

gVisor(https://github.com/google/gvisor) is a user-space kernel, written in Go, that implements a substantial portion of the Linux system surface.

### Describe your use case for these machines

CI test for gVisor

### Which members of the community would benef

[2021-07-07 02:56] zhlhahaha commented on #281
cc: @justion-he

[2021-07-07 17:44] pgmwoa commented on #280
We are in the process of getting the servers ready for you. You will get an email as soon as the hardware is reserved and ready for use.

[2021-07-07 17:45] pgmwoa commented on #281
We are in the process of getting the servers ready for you. You will get an email as soon as the hardware is reserved and ready for use.

[2021-07-08 19:46] pgmwoa commented on #280
Necessary infrastructure is reserved. Please refer to the welcome email for instructions on how to use the reserved server and the supporting resources. We will be looking forward for your feedback / experience on new servers.

[2021-07-08 19:46] #280 closed

[2021-07-08 19:46] pgmwoa commented on #281
Necessary infrastructure is reserved. Please refer to the welcome email for instructions on how to use the reserved server and the supporting resources. We will be looking forward for your feedback / experience on new servers.

[2021-07-08 19:46] #281 closed

[2021-07-09 09:12] avsm commented on #279
Thanks @pgmwoa! I'm just working through getting these deployed and running now in our pool. Should have the Amperes decommissioned soon as well.

[2021-07-14 09:12] Jerry-Ge opened #282 "Kubeflow - Works On Arm Sponsored"
### Name, email, company, job title
Jerry Ge @Jerry-Ge, yuzhouge@berkeley.edu (preferred) & jerry.ge@arm.com, UC Berkeley and Arm, Software Engineer
Co-applicant: Henry Wang @MrXinWang, henry.wang@arm.com, Arm, Software Engineer

### Project Title and description
[Kubeflow](https://github.com/kubeflow/kubeflow) - Kubeflow is the machine learning toolkit for Kubernetes.

### Describe your use case

[2021-07-14 09:12] Jerry-Ge commented on #282
/cc @vielmetti

[2021-07-15 09:50] stratakis opened #283 "Request to upgrade previously provided AArch64 bare-metal instance for the Python Programming Language"
If you are interested in filing a request for access to the Works on Arm test and
### Name, email, company, job title

- Charalampos Stratakis, cstratak@redhat.com, Red Hat, Senior Software Engineer for the Python Maintenance team

### Project Title and description

- The Python Programming Language

### Describe your use case for these machines

The CI/CD pipelines for the Python Language. Arm AA

[2021-07-15 20:52] yarri-oss opened #284 "TensorFlow - Works On Arm Sponsored"
If you are interested in filing a request for access to the Works on Arm test and
CI infrastructure, please fill out the details below.

Proposals will be evaluated on a biweekly cycle or on a best effort basis by Arm and Equinix Metal.

### Name, email, company, job title
Douglas Yarrington, dyarrington@, Google, TensorFlow Team

Note that projects with two or more participants are preferred.

##

[2021-07-15 21:54] pgmwoa commented on #284
Please update the project name / heading accordingly.

[2021-07-15 21:57] yarri-oss commented on #284
@pgmwoa Sorry, done.

[2021-07-15 21:59] pgmwoa commented on #283
We are in the process of getting the servers ready for you. You will get an email as soon as the hardware is reserved and ready for use.

[2021-07-16 15:43] pgmwoa commented on #283
Necessary infrastructure is reserved. Please refer to the welcome email for instructions on how to use the reserved server and the supporting resources. We will be looking forward for your feedback / experience on new servers.

[2021-07-16 15:43] #283 closed

[2021-07-16 16:53] nuclearsandwich opened #285 "ROS - Works On Arm Sponsored"
If you are interested in filing a request for access to the Works on Arm test and
CI infrastructure, please fill out the details below.

Proposals will be evaluated on a biweekly cycle or on a best effort basis by Arm and Equinix Metal.

### Name, email, company, job title

Steven! Ragnarök, <steven@openrobotics.org>, Open Robotics, Infrastructure project lead
Tully Foote, <tfoote@openrobotics.org

[2021-07-16 18:15] pgmwoa commented on #285
We are in the process of getting the servers ready for you. You will get an email as soon as the hardware is reserved and ready for use.

[2021-07-16 18:52] pgmwoa commented on #274
Closing the ticket as no response received.

[2021-07-16 18:52] #274 closed

[2021-07-16 18:54] pgmwoa commented on #278
Closing the ticket as no response received.

[2021-07-16 18:54] #278 closed

[2021-07-16 19:32] nuclearsandwich commented on #285
Thank you!

[2021-07-19 09:38] Jerry-Ge commented on #282
/cc pgmwoa

[2021-07-20 19:58] pgmwoa commented on #285
Necessary infrastructure is reserved. Please refer to the welcome email for instructions on how to use the reserved server and the supporting resources. We will be looking forward for your feedback / experience on new servers.

[2021-07-20 19:58] #285 closed

[2021-07-22 20:33] beta-ziliani opened #286 "Crystal Language - Works On Arm Sponsored"
### Name, email, company, job title

Beta Ziliani, beta@manas.tech, Manas.Tech, Team Lead and Principal Engineer
Jonne Haß, me@jhass.eu, The Crystal Project, Core Member
Matias Garcia Isaia, mgarcia@manas.tech, Manas.Tech, Full-stack Engineer and Site Reliability Engineer
Johannes Müller, jmuller@manas.tech, Manas.Tech, Back-end Developer

### Project Title and description

The Crystal Programming

[2021-07-22 20:43] pgmwoa commented on #286
We are in the process of getting the servers ready for you. You will get an email as soon as the hardware is reserved and ready for use.

[2021-07-23 19:26] pgmwoa commented on #286
Necessary infrastructure is reserved. Please refer to the welcome email for instructions on how to use the reserved server and the supporting resources. We will be looking forward for your feedback / experience on new servers.

[2021-07-23 19:26] #286 closed

[2021-07-23 19:55] pgmwoa commented on #282
We are in the process of getting the servers ready for you. You will get an email as soon as the hardware is reserved and ready for use.

[2021-07-27 21:21] pgmwoa commented on #282
Necessary infrastructure is reserved. Please refer to the welcome email for instructions on how to use the reserved server and the supporting resources. We will be looking forward for your feedback / experience on new servers.

[2021-07-27 21:21] #282 closed

[2021-07-29 20:01] fkorotkov commented on #262
Hey @junaruga, I'm founder of Cirrus CI and we will have managed arm64 instances pretty soon. I've emailed you with details if you are interested.

[2021-07-29 22:16] junaruga commented on #262
@fkorotkov Hi I received your email. Sorry I didn't have time to reply. Please wait. Thanks.

[2021-08-20 18:08] andrewrk opened #288 "Zig - Works On Arm Sponsored"
If you are interested in filing a request for access to the Works on Arm test and
CI infrastructure, please fill out the details below.

Proposals will be evaluated on a biweekly cycle or on a best effort basis by Arm and Equinix Metal.

### Name, email, company, job title

Andrew Kelley
andrew@ziglang.org
Zig Software Foundation
President & Lead Developer

### Project Title and description

Zig P

[2021-08-20 18:16] pgmwoa commented on #288
Please modify the Project name as appropriate. It is showing "**Project name** - Works on Arm Sponsored"

[2021-08-20 18:49] pgmwoa commented on #288
We are in the process of getting the servers ready for you. You will get an email as soon as the hardware is reserved and ready for use.

[2021-08-23 17:24] pgmwoa commented on #288
Necessary infrastructure is reserved. Please refer to the welcome email for instructions on how to use the reserved server and the supporting resources. We will be looking forward for your feedback / experience on new servers.

[2021-08-25 03:25] zhlhahaha opened #289 "Kubevirt - Works On Arm Sponsored"
Name, email, company, job title
Howard Zhang, howard.zhang@arm.com, Arm, senior software engineer

Project Title and description
KubeVirt (https://github.com/kubevirt/kubevirt) is a virtual machine management add-on for Kubernetes. The aim is to provide a common ground for virtualization solutions on top of Kubernetes. Also Kubevirt is a CNCF project.

Describe your use case for these machines
For

[2021-08-25 03:26] zhlhahaha commented on #289
cc: @justin-he

[2021-09-01 07:46] lubinszARM opened #290 "google/gVisor arm64 enablement - Works On Arm Sponsored"
Name, email, company, job title
Robin Lu, lubinsz@gmail.com, Shopee, principle software engineer

Project Title and description
gVisor(https://github.com/google/gvisor) is a user-space kernel, written in Go, that implements a substantial portion of the Linux system surface.

Describe your use case for these machines
Debug/Issue-fix for gVisor

Which members of the community would benefit from your

[2021-09-01 07:48] lubinszARM commented on #290
cc @zhlhahaha
ping @vielmetti @pgmwoa

[2021-09-01 09:25] zhlhahaha commented on #290
Hi @vielmetti @pgmwoa ,
@lubinszARM is a core contributor for gVisor on arm64. Can you add his account (lubinsz@gmail.com) to the project "gVisor CI - Works on Arm Sponsored"?
THanks a lot.

[2021-09-01 14:04] pgmwoa commented on #290
Request has been initiated to add new user.

[2021-09-01 21:30] pgmwoa commented on #284
Closing the ticket as they won’t be able to proceed with this for now and will only revisit sometime early next year.

[2021-09-01 21:30] #284 closed

[2021-09-03 16:47] cvicentiu opened #291 "MariaDB Server - Works On Arm Sponsored"
If you are interested in filing a request for access to the Works on Arm test and
CI infrastructure, please fill out the details below.

Proposals will be evaluated on a biweekly cycle or on a best effort basis by Arm and Equinix Metal.

### Name, email, company, job title
Vicențiu Ciorbaru
vicentiu@mariadb.org
MariaDB Foundation
Senior Software Engineer, Team Lead

Note that projects with two or

[2021-09-03 16:53] cvicentiu commented on #291
Note that MariaDB has previously had ARM hardware donated and the person in charge was Daniel Bartholomew. (dbart@mariadb.com). This issue is a response to the note that the older hardware is being decommissioned.

The MariaDB Foundation, can take over maintaining the  newer ARM hardware (with me as the contact person) and ensure it is integrated properly in the CI system.

[2021-09-03 19:45] pgmwoa commented on #289
Necessary infrastructure is reserved. You should be able to see the new system in the reserved systems list.

[2021-09-03 19:45] #289 closed

[2021-09-03 19:49] pgmwoa commented on #290
New user has been added to the project. Hence closing the ticket now.

[2021-09-08 16:30] pgmwoa commented on #291
We are in the process of getting the servers ready for you. You will get an email as soon as the hardware is reserved and ready for use.

[2021-09-08 22:21] bhumikpatel opened #292 "Project name - Works On Arm Sponsored"
If you are interested in filing a request for access to the Works on Arm test and
CI infrastructure, please fill out the details below.

Proposals will be evaluated on a biweekly cycle or on a best effort basis by Arm and Equinix Metal.

### Name, email, company, job title

Note that projects with two or more participants are preferred.

### Project Title and description

### Describe your use cas

[2021-09-08 22:21] #292 closed

[2021-09-16 19:27] kielfriedt opened #293 "SONIC ARM switch pipeline enablement"
If you are interested in filing a request for access to the Works on Arm test and
CI infrastructure, please fill out the details below.

Proposals will be evaluated on a biweekly cycle or on a best effort basis by Arm and Equinix Metal.

Proposals is to provide Microsoft SONIC team pool resources for nightly and per-PR build validation. Currently building is completed on emulation and resources ar

[2021-09-21 19:05] avagin opened #295 "The gVisor-ci server is down."
We can access it via ssh. Could you check what is going on there and reboot it? Thanks.

(edit)

- [ ] Related to #290

[2021-09-21 22:24] vielmetti commented on #295
Please be in touch with @pgmwoa directly for assistance on this.

[2021-09-22 18:04] avagin commented on #295
@pgmwoa what is a good way to reach you directly?

[2021-09-23 20:16] pgmwoa commented on #295
@avagin pls try shutdown -r now on systemd

cc: @justin-he, @zhlhahaha

[2021-09-27 13:17] cvicentiu commented on #291
Sending a message here just in case the hardware is ready and somehow I did not get the email.

If it's not yet, we're eagerly waiting for it :)

[2021-09-27 15:34] pgmwoa commented on #291
There is a little delay, will update you as soon as it is done. Thanks for your patience.

[2021-09-30 16:45] pgmwoa commented on #291
Necessary infrastructure is reserved. Please refer to the welcome email for instructions on how to use the reserved server and the supporting resources.

[2021-09-30 16:45] vielmetti commented on #291
@cvicentiu The server has been allocated to the project. If you would be so good as to let me and @pgmwoa know when it's all the way working and tested, I'll start the process of reclaiming the remainder of the old Qualcomm systems.

[2021-09-30 17:57] vielmetti commented on #260
Logging here a request for additional storage for this server, to support additional VMs in a hypervisor configuration, and reopening to acknowledge that. cc @jdekonin

[2021-10-01 10:36] philwo commented on #271
I just noticed that the old server (c2.large.arm, 147.75.73.154) still appears to be running and is visible in our account. Should I just delete it from our account or can you do this?

[2021-10-01 12:22] vielmetti commented on #271
@philwo If you delete it, and then inform @pgmwoa , we'll get a ticket assigned to remove the reservation for that machine and it will be handled. Thanks!

[2021-10-01 12:58] philwo commented on #271
@pgmwoa Server has been deleted. Thank you!

[2021-10-01 17:03] pgmwoa commented on #271
@philwo Thanks.
@vielmetti - I didn't have this machine under WoA as per 13 Sep 2021 Equinix hardware reservation data. Was it a reserved instance?

[2021-10-01 17:18] philwo commented on #271
FWIW the old machine showed as "On Demand" when I looked at the dashboard today. The new machine is shown as "Reserved".

[2021-10-01 17:43] vielmetti commented on #271
If it was "on demand" before, then our work here is done! Thanks @philwo @pgmwoa .

[2021-10-01 17:43] #271 closed

[2021-10-01 20:43] vielmetti commented on #290
@avagin reported in #295 an issue with a server; trying to get resolution on this issue.

[2021-10-04 15:59] pgmwoa commented on #295
Closing the ticket as @avagin can access the new ARM server for gVisor project.
cc: @justin-he, @zhlhahaha

[2021-10-04 15:59] #295 closed

[2021-10-06 16:39] pgmwoa commented on #260
We are in the process of getting the servers ready for you. You will get an email as soon as the hardware is reserved and ready for use.

[2021-10-12 01:01] pgmwoa commented on #288
@andrewrk  The Altra machine allocated to the project has not yet been deployed. Please confirm project's migration plans.

[2021-10-18 20:48] pgmwoa commented on #279
Hi @avsm, We wanted to check how are you doing with respect to migration. Understand that you had issues with one server and requested Equinix a swap. It would be good if you could provide some more details behind the swap request to Equinix. We are looking forward to hear from you.

[2021-10-21 19:12] vielmetti commented on #154
Reopening this issue, as our Qualcomm gear is very orphaned and is going away.

@hh - if this is still a need for it, let's arrange plans to migrate the arm64 support from this old server to a newer one; and if the project to do the port has completed its work, let's look for an efficient way for them to keep the work running.

@pgmwoa -  this machine had originally been part of the Works on Arm c

[2021-10-29 11:49] numair opened #296 "CybermetriQ Digital Network - Works On Arm Sponsored"
*As I am sure there's very few people who read the issues on this project, let's have fun with this!*

### Name, email, company, job title

Name: Numair Faraz
GitHub: @numair
Email: numair.faraz@cybermetriq.com
Company: CybermetriQ GK (Japan)
Job Title: Manager, Senior Engineer

Name: Long Nguyen
GitHub: @long
Company: CybermetriQ GK via Rayburst LLC (United States)
Job Title: Senior Engineer

###

[2021-11-02 17:03] avsm commented on #279
We've migrated off the Amperes and older ThunderX's now!  One issue we're seeing is that we've had to keep the capacity of the Mt Jades down to 20 concurrent jobs (far lower than expected) due to seeing lots of IO timeouts.  Not sure what the root cause here is -- the Ampere's had no problem at a higher capacity for build jobs. Any idea if anyone else has seen something like this?

We'll look at a

[2021-11-02 22:21] pgmwoa commented on #296
Thanks for your interest in Works On Arm program. We are reviewing your request and will get back soon.

[2021-11-04 01:32] Keno commented on #247
We had this machine briefly, but never managed to actually set it up and in the meantime had gotten CI elsewhere, so this machine was reclaimed. Said other CI is now running out, so we'd like to make use of this machine if possible. As suggested via email, requesting this reinstatement here.

[2021-11-04 02:21] numair commented on #296
Hi @pgmwoa -- Just checking in to see if there's a chance for progress before the week ends. Thanks!

[2021-11-04 20:04] pgmwoa commented on #247
@Keno @ViralBShah

There is a change in the GitHub ticket template for capturing Project details since the last time you had requested servers.

Request you to submit a new ticket to re-confirm / share latest project details, so that we have all the relevant information for allocating the correct infrastructure.
Please specify the names and email-ids of all the users who would need access to the m

[2021-11-04 21:00] pgmwoa commented on #279
@avsm, have few queries, request your confirmation.

The old Amperes eMags (Qty 2) and ThunderX (Qty 2) - As you have migrated off, can we reclaim these 4 machines?

Regarding the Altra machines:
We had allocated two machines (Mt Jades) and I understand that one of them had issues in bring up. Is that still the issue or that is resolved?
And related to your observation of IO timeouts on Altra, as

[2021-11-04 21:03] Keno opened #297 "Julia Language - Works On Arm Sponsored"
This was previously approved in #247, but a re-submit was requested, so I'm submitting that here.

### Name, email, company, job title

Keno Fischer, keno@alumni.harvard.edu, Julia Language, Core Contributor
Viral Shah, viral@mayin.org, Julia Language, co-creator (@ViralBShah)
Elliot Saba, staticfloat@gmail.com, Julia Language, Core Contributor (@staticfloat)

### Project Title and description

Th

[2021-11-05 06:44] jaboutboul opened #298 "ELRepo - Works On Arm Sponsored"
### Name, email, company, job title

Jack Aboutboul, jack@almalinux.org, AlmaLinux Community Manager
Akemi Yagi, contact@elrepo.org, ELRepo Maintainer

### Project Title and description

ELRepo is an RPM repository for Enterprise Linux packages. ELRepo supports Red Hat Enterprise Linux (RHEL) and its derivatives, and focuses on providing alternative kernels (latest mainline and long-term), hardwar

[2021-11-05 19:26] pgmwoa commented on #203
We are in the process of getting the upgraded Mt Snow ready for you. You will get an email as soon as the hardware is reserved and ready for use.

[2021-11-05 20:18] pgmwoa commented on #298
We are in the process of getting the servers ready for you. You will get an email as soon as the hardware is reserved and ready for use.

[2021-11-05 21:23] pgmwoa commented on #297
We are in the process of getting the servers ready for you. You will get an email as soon as the hardware is reserved and ready for use

[2021-11-05 23:15] pgmwoa commented on #298
Necessary infrastructure is reserved. Please refer to the welcome email for instructions on how to use the reserved server and the supporting resources.

[2021-11-05 23:15] #298 closed

[2021-11-08 20:19] pgmwoa commented on #279
@avsm Please delete the older systems 2 eMags & 2 ThunderX by selecting delete / destroy option so that Equinix team can reclaim those machines.

[2021-11-08 20:57] pgmwoa commented on #288
@andrewrk @daurnimator - Please update.

[2021-11-09 20:05] pgmwoa commented on #296
We prioritize projects on WoA infrastructure based on certain [criteria](https://developer.arm.com/solutions/infrastructure/works-on-arm/equinix). As per the description provided, the use case does not meet the requirements to gain access to Arm systems via Works on Arm. Hence, we would not be able to support the project. Closing the ticket.

[2021-11-09 20:05] #296 closed

[2021-11-16 19:26] pgmwoa commented on #297
Necessary infrastructure is reserved. Please refer to the welcome email for instructions on how to use the reserved server and the supporting resources

[2021-11-16 19:26] #297 closed

[2021-11-16 19:38] pgmwoa commented on #203
@kalyxin02 @lubinsz @cayu53 @zhlhahaha
One new Mt Snow (upgraded) has been reserved for the project as replacement for the one having provisioning issues. Please delete the old sever that is having issues so that Equinix team can reclaim that machine.

[2021-11-17 01:53] zhlhahaha commented on #203
Thanks @pgmwoa , I have deleted the old server.

[2021-11-17 20:29] pgmwoa commented on #203
Closing the ticket as the new system has been made available to the project.

[2021-11-17 20:29] #203 closed

[2021-12-03 12:01] vince75 opened #299 "Tools porting and optimization for new processor - Works On Arm Sponsored"
If you are interested in filing a request for access to the Works on Arm test and
CI infrastructure, please fill out the details below.

Proposals will be evaluated on a biweekly cycle or on a best effort basis by Arm and Equinix Metal.

### Name, email, company, job title
Vincent Casillas, vincent.casillas@sipearl.com, SiPearl, VP R&D SW
Romain Dolbeau, romain.dolbeau@sipearl.com, SiPearl, HPC Fe

[2021-12-06 16:12] pgmwoa commented on #299
We are in the process of getting the servers ready for you. You will get an email as soon as the hardware is reserved and ready for use

[2021-12-07 20:09] pgmwoa commented on #279
Closing the ticket as old machines have been reclaimed

[2021-12-07 20:09] #279 closed

[2021-12-08 18:38] pgmwoa commented on #299
Necessary infrastructure is reserved. Please refer to the welcome email for instructions on how to use the reserved server and the supporting resources.

[2021-12-08 18:38] #299 closed

[2021-12-08 19:03] pgmwoa commented on #293
This project requirements are 8core 8gb and 500gb per instance and require more than 2TB, which cannot be supported on current WoA infrastructure. Hence as discussed with project requester, closing this ticket.

[2021-12-08 19:03] #293 closed

[2021-12-09 21:54] vielmetti commented on #244
Hi @pgmwoa , @avikivity  reached out to me regarding changes to the authorized users on this project - could you two sync up and see what needs to be done? thanks.

[2021-12-10 15:22] avikivity commented on #244
I'd like to add @benipeled of our release engineering team as a co-administrator.

[2021-12-10 16:57] pgmwoa commented on #244
I would need the email-id of the user for getting it added to the project.

[2021-12-12 09:04] benipeled commented on #244
beni.peled@scylladb.com
Thanks @pgmwoa

[2021-12-13 19:11] pgmwoa commented on #244
Got it Thanks. Initiating the request to add user.

[2021-12-13 23:22] pgmwoa commented on #244
An invitation has been sent to join as a collaborator on the project. Please confirm.

[2021-12-14 09:05] benipeled commented on #244
I got the invitation and manage to log-in,
Thanks,

[2021-12-14 16:18] pgmwoa commented on #244
Thanks, for confirming. I will close the ticket now.

[2021-12-14 16:18] #244 closed

[2021-12-14 21:47] colemickens opened #300 "ProjectFP/Various OSS - Works On Arm Sponsored"
### Name, email, company, job title

Cole Mickens, cole.mickens@gmail.com, (unannounced, TBD), Founder,SoftwareEngineer,Whatever

### Project Title and description

I'm a developer, I've been using ARM instances on Packet.net/com/EquinixMetal for years... or had been.

### Describe your use case for these machines

Off the top - I don't necessarily need free/subsidized instances. I just need acces

[2021-12-14 22:27] pgmwoa commented on #291
Closing the ticket as old machines have been reclaimed.

[2021-12-14 22:27] #291 closed

[2021-12-15 01:57] ryanfortner opened #301 "Raspbian Addons - Works On Arm Sponsored"
### Ryan Fortner (ryankfortner@gmail.com), Raspbian Addons, lead maintainer

### Project

Raspbian Addons is an APT repository for Raspberry Pi computers, containing open-source software not in the Pi Foundation's repositories.

### Describe your use case for these machines

These machines will be used for testing and development of debian repositories for arm.

### Which members of the community

[2021-12-20 20:24] pgmwoa commented on #300
@colemickens, As discussed, closing the ticket for now. You can reopen it as and when you are ready with updated information, future plans. Thanks.

[2021-12-20 20:24] #300 closed

[2022-01-08 14:59] hmsjy2017 commented on #301
Any progress? @pgmwoa @vielmetti  @bhumikpatel

[2022-01-10 04:22] pgmwoa commented on #301
@hmsjy2017 @ryanfortner I have shared some updates in the email to ryankfortner@gmail.com. Please refer to email dated 21st Dec 2021 and have resend again today i.e., on 10th Jan 2022 at emails-ids ryankfortner@gmail.com & i@iamsjy.com.

[2022-01-10 15:05] pgmwoa commented on #301
Done. Pls confirm

[2022-01-10 16:11] hmsjy2017 commented on #301
@pgmwoa I think 4 cores and 8G memory should be enough. Since we need to compile and develop, the disk space needs to be large enough (preferably more than 60GB). Also, we require the VM to support IPv4, preferably one that is accessible from the outside. Currently, we intend to use GitHub's self-hosted runner for continuous integration.

[2022-01-27 12:54] hodgestar opened #302 "QuTiP - Works On Arm Sponsored"
### Name, email, company, job title

Simon Cross, simon.cross@riken.jp, Riken, Technical Specialist

The QuTiP project is run by an admin team of 9 people and a scientific advisory board of 5 people (14 in total). Both span multiple continents and institutions.

### Project Title and description

QuTiP

QuTiP is open-source software for simulating the dynamics of closed and open quantum systems.

[2022-01-27 21:57] mattip opened #303 "PyPy - Works On Arm Sponsored"
### Name, email, company, job title

Matti Picus, matti.picus@gmail.com, Quansight Labs, Senior Developer. I am asking on behalf of the PyPy project.

### Project Title and description

[PyPy](www.pypy.org) is a Python interpreter with a JIT, written in a dialect of Python. It makes pure [python code fast](https://speed.pypy.org). The project is run mainly by volunteers, including me.

### Describ

[2022-01-28 02:21] pgmwoa commented on #303
Thanks for your interest in WoA. We will review the request.
Please update the Project name in the title of the project.

[2022-01-28 14:34] hodgestar commented on #302
Thank you!

[2022-02-15 23:06] mattip commented on #303
Ping: any decision on this request?

[2022-02-16 03:38] pgmwoa commented on #303
Currently, we do not have any systems available in the WoA inventory for allocation. We are working through to see if there is any alternate way.

[2022-02-16 13:50] martin-g commented on #303
@mattip You asked for bare-metal but would you consider a VM instead ?
Oracle Cloud provides free VMs with the spec you need - 4 vCPU cores @ 2.8GHz, 6GB of RAM per vCPU, i.e. up to 24GB, 45GB of disk and 1Gbps network bandwidth.
I've blogged how to use them for Github Actions self-hosted runner, but you can use it for Buildbot and any other CI system - https://martin-grigorov.medium.com/github-ac

[2022-02-16 14:13] mattip commented on #303
Sounds good. The part about "[R]egistration also requires Credit/Debit card details but it is not charged if you use the Free Tier service" is worrisome. Is there some way to declare "never bill me, cancel my service instead"?

[2022-02-16 14:15] mattip commented on #303
Or is there some assurance that tomorrow Oracle will not change this free policy? Have they committed to some timeline?

[2022-02-16 19:25] martin-g commented on #303
All cloud providers require credit card :-/ Even for their free plans...
I guess they could always change the rules.
I am not aware of any timeline. I just use few ARM64 VMs for some projects of mine.

[2022-02-18 19:14] AaronDewes opened #304 "Citadel - Works On Arm Sponsored"
### Name, email, company, job title

Aaron Dewes, aaron.dewes@protonmail.com, student

### Project Title and description

Citadel makes it possible for anyone to run a personal web server and bitcoin node (non-mining, we're not promising anyone to get rich, it's only for storing Bitcoin, not earning them). It provides an easy app store so everyone can install any app they want (with support for 3r

[2022-02-21 14:46] pgmwoa commented on #303
@mattip We may be able to help. Please refer to email send on 17 Feb, at the email id mentioned in the ticket. Looking forward to your response. Thanks.

[2022-02-21 14:47] pgmwoa commented on #304
Thanks for your interest in WoA. We will review the request.

[2022-02-21 21:57] mattip commented on #303
With the help of @martin-g we were able to find a generous sponsor of an aarch64 VM. Closing.

[2022-02-21 21:57] #303 closed

[2022-02-24 13:17] philwo commented on #271
Hello,

as already discussed with @vielmetti via mail, I'd like to nominate my colleague @meteorcloudy (Yun Peng, pcloudy@google.com, Google, Senior Software Engineer) as the new contact person for Bazel's Works-on-ARM project.

He will add a comment here soon with details about requesting one more machine after a discussion with our contact at ARM.

Thanks,
Philipp

[2022-02-24 13:48] meteorcloudy commented on #271
Hi,

after meeting with our contacts at ARM, we would like to request one more Works-on-ARM machine for Bazel CI.

The machine will be used for the regular [Bazel postsubmit](https://buildkite.com/bazel/bazel-bazel) on Linux ARM64 platform, which runs the entire Bazel test suite. All Bazel users on ARM64 will benefit from better test coverage.

We couldn't use the existing machine because in our c

[2022-02-24 18:15] pgmwoa commented on #271
Hi,

We are processing your request.

Regards
Manisha

[2022-03-15 04:55] pgmwoa commented on #304
@AaronDewes , as communicated we do not have systems available in inventory for allocation at this time. Hence keeping the request on hold.

[2022-03-15 04:56] pgmwoa commented on #302
@hodgestar , as communicated we do not have systems available in inventory for allocation at this time. Hence keeping the request on hold.

[2022-03-15 04:57] pgmwoa commented on #301
@hmsjy2017 @ryanfortner , as communicated earlier we do not have systems available in inventory for allocation at this time. Hence keeping the request on hold.

[2022-03-16 05:02] pgmwoa commented on #240
@futurejones, Need your attention on the email sent related to Mt snow upgrade.

We would like to update you that there is a new production silicon available from Ampere that needs to be upgraded in the Mt Snow system reserved for your project.

_The new silicon will allow upgrade to the latest microcode, fixes for any security flaws and also occasional odd behaviors that you may have observed. Th

[2022-03-16 05:05] pgmwoa commented on #231
@stsquad , Need your attention on email sent related to Mt Snow upgrade.

We would like to update you that there is a new production silicon available from Ampere that needs to be upgraded in the Mt Snow system reserved for your project.

_The new silicon will allow upgrade to the latest microcode, fixes for any security flaws and also occasional odd behaviors that you may have observed. This sili

[2022-03-16 05:06] pgmwoa commented on #261
@mattst88 , Need your attention on email sent related to Mt Snow upgrade.

We would like to update you that there is a new production silicon available from Ampere that needs to be upgraded in the Mt Snow system reserved for your project.

The new silicon will allow upgrade to the latest microcode, fixes for any security flaws and also occasional odd behaviors that you may have observed. This sili

[2022-04-14 18:30] naqvis opened #305 "Pipy - Works On Arm Sponsored"
If you are interested in filing a request for access to the Works on Arm test and
CI infrastructure, please fill out the details below.

Proposals will be evaluated on a biweekly cycle or on a best effort basis by Arm and Equinix Metal.

### Name, email, company, job title
Ali Naqvi, alinaqvi@flomesh.io, Flomesh Ltd., Evangelist

Note that projects with two or more participants are preferred.

###

[2022-04-15 17:10] naqvis commented on #305
Appreciate any review and/or comments.

[2022-04-16 17:02] hodgestar commented on #302
Ping! We'd still like to be considered when / if machines become available.

[2022-04-17 02:47] hmsjy2017 commented on #301
@pgmwoa Could you tell me when the systems will be available?

[2022-04-17 04:34] BenTheElder commented on #154
IIRC we shut this down, I'm not sure what it had before but I don't think @aojea or I need this currently. Thank you!

[2022-04-18 17:23] pgmwoa commented on #305
Thanks for your interest in WoA. We will review the request and get back to you.

[2022-04-20 15:51] sbc100 opened #306 "Emscripten - Works On Arm Sponsored"
If you are interested in filing a request for access to the Works on Arm test and
CI infrastructure, please fill out the details below.

Proposals will be evaluated on a biweekly cycle or on a best effort basis by Arm and Equinix Metal.

### Name, email, company, job title

Sam Clegg, sbc@chromium.org, Google, SWE

### Project Title and description

Emscripten -  a complete compiler toolchain to W

[2022-04-20 20:32] pgmwoa commented on #306
Thanks for your interest in WoA. We will review the request and get back to you.

[2022-04-27 20:39] pgmwoa commented on #301
Ticket resolved hence closing the same.

[2022-04-27 20:39] #301 closed

[2022-04-27 20:39] pgmwoa commented on #305
Ticket resolved hence closing the same.

[2022-04-27 20:39] #305 closed

[2022-04-28 02:04] #288 closed

[2022-04-28 02:04] #304 closed

[2022-05-09 20:57] anmparal opened #307 "LLVM/ARM - Works On Arm Sponsored"
If you are interested in filing a request for access to the Works on Arm test and
CI infrastructure, please fill out the details below.

Proposals will be evaluated on a biweekly cycle or on a best effort basis by Arm and Equinix Metal.

### Name, email, company, job title

Name: Anmol P. Paralkar
Email: anmparal@cisco.com
Company: Cisco Systems
Job title: Software Engineering Technical Leader

No

[2022-05-09 22:13] pgmwoa commented on #307
Please update the Project name.

[2022-05-10 23:27] vielmetti commented on #307
+1 for perf improvements in LLVM, that will be welcomed.

[2022-05-11 18:14] pgmwoa commented on #307
Thanks for your interest in WoA. We will review the request and get back to you.

[2022-05-18 13:31] pgmwoa commented on #307
Ticket resolved hence closing the same.

[2022-05-18 13:31] #307 closed

[2022-06-28 02:43] kevinzs2048 opened #308 "Open Infrastructure Foundation(OpenStack) - Works On Arm Sponsored"
If you are interested in filing a request for access to the Works on Arm test and
CI infrastructure, please fill out the details below.

Proposals will be evaluated on a biweekly cycle or on a best effort basis by Arm and Equinix Metal.

### Name, email, company, job title
Kevin Zhao, kevin.zhao@linaro.org, Linaro, Tech Lead
Clark Boylan, clark@openstack.org, Open Infrastructure Foundation

### Pr

[2022-06-28 16:15] cboylan commented on #308
Really quickly, we don't have any problems hosting your logo on our websites to provide credit for where these resources are coming from. Use of our logos on your end would require more information on their usage before that is approved.

I would also like to expand a bit on what Kevin has already written. These resources would be used by the OpenDev Zuul CI system. OpenStack is a large and promin

[2022-06-28 18:31] pgmwoa commented on #308
Thanks for your interest in WoA. We will review the request and get back to you.

[2022-06-28 21:33] ianw commented on #308
Apart from the testing of changes helping developers, the heavy workout OpenDev give these clouds is also useful.  We cycle a lot of virtual machines, upload fresh testing images daily and generally tests are fairly intensive.  We have a history of working with Linaro over a long period of time to help understand performance and stability issues that (I don't want to speak for them) have hopefully

[2022-07-05 08:13] TrevorTaoARM opened #309 "Istio Arm CI - Works On Arm Sponsored"
If you are interested in filing a request for access to the Works on Arm test and
CI infrastructure, please fill out the details below.

Proposals will be evaluated on a biweekly cycle or on a best effort basis by Arm and Equinix Metal.

### Name, email, company, job title

Trevor Tao Trevor.Tao@arm.com
Ruquan Zhao Ruquan.Zhao@arm.com

Note that projects with two or more participants are preferred

[2022-07-05 16:36] pgmwoa commented on #309
Thanks for your interest in WoA. We will review the request and get back to you.

[2022-07-18 19:39] mathieupoirier opened #310 "Xen-sys: Rust APIs to interact with the Xen hypervisor - Works On Arm Sponsored"
If you are interested in filing a request for access to the Works on Arm test and
CI infrastructure, please fill out the details below.

Proposals will be evaluated on a biweekly cycle or on a best effort basis by Arm and Equinix Metal.

### Name, email, company, job title

Mathieu Poirier
mathieu.poirier@linaro.org
Linaro
Senior Software Engineer

### Project Title and description

1) Port the xe

[2022-07-19 00:44] pgmwoa commented on #310
Please update the project title.

[2022-07-29 08:01] TrevorTaoARM commented on #309
Any progress here?

[2022-08-02 17:06] pgmwoa commented on #308
Ticket resolved hence closing the same.

[2022-08-02 17:06] #308 closed

[2022-08-02 19:58] pgmwoa commented on #310
Closing the ticket as discussed with requester.

[2022-08-02 19:58] #310 closed

[2022-08-11 13:43] #309 closed

[2022-08-11 13:43] TrevorTaoARM commented on #309
Istio arm CI is available now, thanks.

[2022-08-22 07:42] sdelafond opened #311 "Debian ELTS (Extended Long Term Support) - Works On Arm Sponsored"
### Name, email, company, job title

Sébastien Delafond <seb@freexian.com>

https://freexian.com

### Project Title and description

ELTS program (https://deb.freexian.com/extended-lts)

This service provides security support for a subset of packages in
Debian 8 and 9: business and enterprise customers pay to select which
packages they want support for, but those resulting packages are always
made

[2022-08-22 19:58] Karm opened #312 "Mandrel - Works On Arm Sponsored"
### Name, email, company, job title

* Foivos Zakkak, zakkak@redhat.com, Red Hat, Inc., Senior Software Engineer
* Galder Zamarreno, galder@redhat.com, Red Hat, Inc., Principal Software Engineer
* Michal Karm Babacek, karm@redhat.com, Red Hat, Inc., Principal Software Quality Engineer
* Severin Gehwolf, sgehwolf@redhat.com, Red Hat, Inc., Principal Software Engineer

### Project Title and descript

[2022-08-23 19:28] pgmwoa commented on #311
Thanks for your interest in WoA. We will review the request and get back to you.

[2022-08-23 19:29] pgmwoa commented on #312
Thanks for your interest in WoA. We will review the request and get back to you.

[2022-08-24 07:14] Rippanda12 opened #313 "RebornOS ARM - Works On Arm Sponsored"
If you are interested in filing a request for access to the Works on Arm test and
CI infrastructure, please fill out the details below.

Proposals will be evaluated on a biweekly cycle or on a best effort basis by Arm and Equinix Metal.

### Name, email, company, job title

- Panda hi@liketraps.com RebornOS, Developer for arm
- CookieSource team@rebornos.org RebornOS, Project lead

Note that proje

[2022-08-25 19:15] pgmwoa commented on #313
Thanks for your interest in WoA. We will review the request and get back to you.

[2022-09-23 21:33] otterley commented on #306
I think we can close this, as Emscripten is being built automatically for Arm64 via EC2.

[2022-09-24 05:25] pgmwoa commented on #311
Ticket resolved hence closing the same

[2022-09-24 05:25] #311 closed

[2022-09-26 16:50] pgmwoa commented on #306
Thanks for the update. Closing the ticket.

[2022-09-26 16:50] #306 closed

[2022-11-04 21:39] anmol-paralkar commented on #307
Hello, I am changing employers; thank you so much for making this resource available to me.
Deeply appreciated!
Best wishes & Regards,
Anmol.

[2022-11-24 09:58] Rippanda12 commented on #313
Any updates?

[2022-11-24 20:55] benjyw opened #314 "Pants - Works On Arm Sponsored"
If you are interested in filing a request for access to the Works on Arm test and
CI infrastructure, please fill out the details below.

Proposals will be evaluated on a biweekly cycle or on a best effort basis by Arm and Equinix Metal.

### Name, email, company, job title

Benjy Weinberger, benjyw@gmail.com
Pants Build, Maintainer
Toolchain, Co-founder/CEO

### Project Title and description

The

[2022-11-28 18:41] pgmwoa commented on #314
Thanks for your interest in WoA. We will review the request and get back to you.

[2022-11-28 18:46] pgmwoa commented on #144
@arrfab, Waiting for your response on the server upgrade. Please

[2022-11-28 18:50] pgmwoa commented on #313
Sorry for delay, we are still looking in to it.

[2022-11-29 09:06] arrfab commented on #144
@pgmwoa : sorry for the late answered but replied and previous server returned to Equinix/WoA

[2022-11-30 05:01] benjyw commented on #314
Thanks @pgmwoa!

[2022-11-30 19:11] Rippanda12 commented on #313
I would like to ask if you have any ARMv8.**3** machines since i want to use nested virtualization

[2022-11-30 21:12] pgmwoa commented on #144
Thanks a lot for freeing the old server. Please let us know in case of any issues with new server. We would need some more details related to usage, as requested in the email.

[2022-11-30 22:26] vielmetti commented on #313
There is a table here

https://marcin.juszkiewicz.com.pl/download/tables/arm-socs.html

of processor features. If you know precisely which features you need from the CPU, you can look them up there.

The Ampere Altra here is advertised as "ArmV8.2+", and I don't know if the + includes the features you request.